{% load socialaccount %}
<!-- overriding allauth/socialaccount/snippets/provider.list in home/socialaccoung/... -->

{% for provider in socialaccount_providers %}
        <a class="button is-info is-fullwidth socialaccount_provider {{ provider.id }}" title="{{ provider.name }}"
           href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
            {% if provider.id == 'google' %}
                <span class="icon is-large">
                    <i class="fa fa-3x fa-google"></i>
                </span>
            {% elif provider.id == 'discord' %}
                <span class="icon">
                    <ion-icon name="logo-discord"></ion-icon>
                </span>
                <span class="ml-1">Login with Discord</span>
            {% else %}
                <span class="icon is-large">
                    <i class="fa fa-3x fa-{{ provider.id }}"></i>
                </span>
            {% endif %}
        </a>
{% endfor %}
