{% extends "home/base.html" %}
{% load humanize %}
{% block extra_head %}
<style>
.blockquote {
    padding: 60px 80px 40px;
    position: relative;
}
.blockquote p {
    font-family: "Utopia-italic";
    font-size: 35px;
    font-weight: 700px;
    text-align: center;
}


.blockquote:before {
  position: absolute;
  font-family: 'FontAwesome';
  top: 0;

  content:"\f10d";
  font-size: 200px;
  color: rgba(0,0,0,0.1);

}

.blockquote::after {
    content: "";
    top: 20px;
    left: 50%;
    margin-left: -100px;
    position: absolute;
    border-bottom: 3px solid #bf0024;
    height: 3px;
    width: 200px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
.otro-blockquote{
  font-size: 1.1em;
  font-family:Open Sans;
  font-style:italic;
  color: white;
  padding: 0.2em 10px 0.1em 45px;
  line-height:1.6;
  position: relative;
  display: grid;
  grid-auto-flow: row;
  height: 100%;
}

.otro-blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:red;
  font-size:4em;
  position: absolute;
  left: 0px;
  top:-10px;
}

.otro-blockquote >  span{
  display:block;
  color: lightslategrey;
  font-style: normal;
  margin-top: 0.1em;
  font-size: 13px;
}
</style>
<script>
function handleKeyPress(e){
  var key=e.keyCode || e.which;
  if (key==13){
    handleFilter();
  }
}
function handleFilter() {
  let qf = document.getElementById('quote-filter');
  let url = 'https://vamouz.de/quotes';
  if (qf.value) {
    url = `https://vamouz.de/quotes?filter=${qf.value}`;
  }
  window.location = url;
}

function toggleRanking() {
  let button = document.getElementById('ranking-toggle');
  let list = document.getElementById('ranking-list');
  list.classList.toggle("is-hidden");
  if (button.textContent.includes('Show')) {
    button.textContent = 'Hide Ranking';
  } else {
    button.textContent = 'Show Ranking';
  }
}
</script>
{% endblock %}
{% block breadcrumbs %}
<div class="pl-2 py-1 mb-2" style="width: fit-content; border-radius: 4px; border: 1px solid #363636;width: 100%;">
<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="{% url 'home:home' %}" style="color: orange">Home</a></li>
        <li class="is-active"><a href="#" aria-current="page" class="has-text-white">Quote of the day archive</a>
        </li>
    </ul>
</nav>
</div>
{% endblock %}

{% block main_content %}
<div style="display: grid; grid-template-columns: 1fr 155px; grid-gap: 0.75rem;">
  <div class="field has-addons">
    <div class="control" style="width:100%">
      <input id="quote-filter" class="input in-danger is-small" style="border-color: red" type="text" placeholder="Filter quotes" value="{{ request.GET.filter }}" onkeypress="handleKeyPress(event)" >
    </div>
      <div class="control">
        <a class="button is-danger is-small" style="background-color: red" onclick="handleFilter()">
          Search
        </a>
      </div>
  </div>
  <a onclick="toggleRanking()" class="box-transparent is-size-6 has-text-weight-bold is-unselectable" style="display: grid; place-content: center; grid-template-columns: 24px 1fr; grid-gap: 0.2rem; height: 29px">
    <span class="icon" style="place-self:-center; color: white;">
      <ion-icon name="list" size="large"></ion-icon>
    </span>
    <span style="align-self:center; margin-top: 1px" id="ranking-toggle">Show ranking</span>
  </a>
</div>
<div id="ranking-list" class="mb-3 is-hidden">
  <table class="table is-fullwidth is-bordered is-narrow" style="background-color: unset;">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Quotes</abbr></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Quotes</abbr></th>
      </tr>
    </tfoot>
    <tbody>
      {% for user in ranking %}
      <tr>
        <th>{{ user.dense_rank }}</th>
        <td><strong>{{ user.data__author_name }}</strong>
        </td>
        <td>{{ user.num }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div style="display: grid;grid-template-columns: repeat(auto-fill, minmax(min(450px, 95vw), 1fr));grid-gap: .75rem;" class="mb-3">
  {% for c in object_list %}
        <div class="box-transparent" style="display: grid; grid-gap: .1rem">
            <div class="has-text-weight-bold">
                <blockquote class="otro-blockquote is-relative">
                    <div style="position: absolute; right: 0; top: 0; font-family: monospace; font-size: 10px;">
                        {{ c.date|date:"j.n.y" }}
                    </div>
                    <div style="align-self:center; padding: 0.5rem 0 0 0">{{ c.data.message_content|linebreaksbr }}</div>
                     <span style="align-self: flex-end">{{ c.data.author_name }} - <span title="{{ c.get_date }}">{{ c.get_date|naturaltime }}</span> - <a href="{{ c.get_link }}" target="_blank">Jump to message</a></span>
                </blockquote>
            </div>
        </div>
    {% endfor %}
</div>
{% include "home/pagination.html" %}
{% endblock %}
