{% extends "home/base.html" %}
{% load static %}
{% load top20 %}

{% block social_description %}
<meta property="og:description" content="{{ object.name }}">
<meta name="twitter:description" content="{{ object.name }}">
{% endblock %}
{% block breadcrumbs %}
<div class="pl-2 py-1 mb-2" style="width: fit-content; border-radius: 4px; border: 1px solid #363636;width: 100%;">
<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="{% url 'home:home' %}" style="color: orange">Home</a></li>
        <li class="is-active"><a href="#" aria-current="page" class="has-text-white">{{ object.name }}</a>
            {% if not object.is_active and not object.is_finished %}
            <span class="tag is-dark ml-2 mouz-tag">Upcoming</span>
            {% elif object.is_finished and object.is_complete %}
            <span class="tag is-danger ml-2 mouz-tag">Finished</span>
            {% elif object.is_finished %}
            <span class="tag is-success ml-2 mouz-tag">Ongoing</span>
            {% else %}
            <span class="tag is-success ml-2 mouz-tag">Live</span>
            {% endif %}
        </li>
    </ul>
</nav>
</div>
{% endblock %}
{% block main_content %}
<div class="box-transparent content mb-3">
    {% if object.desc %}
    {{ object.desc_rendered|safe }}
    <div class="mb-2" style="font-family: monospace; font-size: 12px">
        <span class="has-text-weight-bold">Open for submissions: </span><span>{{ object.starting_at|date:"d.m.y H:i" }} - {{ object.ending_at|date:"d.m.y H:i" }} (CET)</span>
    </div>
    {% if object.url %}
    <div>
        <span class="has-text-weight-bold">URL:</span> <a target="_blank" href="{{ object.url }}">{{ object.name }}</a>
    </div>
    {% endif %}
    {% endif %}
</div>

{% if active and not finished and not object.extern %}
{% if submit %}
<a class="button is-warning is-fullwidth is-small has-text-weight-bold" href="{% url 'top20:submit' slug=object.slug %}">Edit</a> 
{% elif not request.user.is_authenticated %}
<article class="message is-info mb-3">
    <div class="message-header">
        <p>Login</p>
    </div>
    <div class="message-body">
        You're currenty not logged in. Login with discord on the top right to participate.
    </div>
</article>
{% else %}
<a class="button is-danger is-fullwidth is-small has-text-weight-bold" href="{% url 'top20:submit' slug=object.slug %}">Participate</a>
{% endif %}
{% endif %}

{% if not object.extern %}
{% if active or finished %}
{% if submit %}
<div class="has-text-weight-bold is-size-7 mt-1">Your submit progress</div>
<div class="progress-wrapper">
    <progress class="progress is-warning mt-1 mb-0" value="{{ user_rn }}" max="{{ total }}">{{ user_rn }}/{{ total }}</progress>
    <p class="progress-value has-text-dark">{{ user_rn }}/{{ total }}</p>
</div>
{% endif %}
<div class="has-text-weight-bold is-size-7 mt-1">Competition progress</div>
<div class="progress-wrapper mb-3">
    <progress class="progress is-primary mt-1 mb-0" value="{{ rn }}" max="{{ total }}">{{ rn }}/{{ total }}</progress>
    <p class="progress-value has-text-dark">{{ rn }}/{{ total }}</p>
</div>
{% endif %}
{% if participants and not object.extern %}
{% if submit and finished %}
<article class="message is-info my-3">
    <div class="message-header">
        <p>Your picks</p>
    </div>
    <div class="message-body">
        You can check your picks <a href="{% url 'top20:submit-detail' comp=object.slug pk=submit.pk username=submit.user.username %}">here</a>.
    </div>
</article>
{% endif %}
<div class="box-transparent py-0">
    {% for p in participants %}
    {% if not p.user.username == 'master' or not p.user.is_staff %}
    <div style="display: grid; grid-template-columns: 40px 1fr 180px; height:48px; place-content:center; {% if not forloop.last %}border-bottom: 1px solid rgb(119 136 153 / 20%);{% endif %} align-items: center">
         {% if p.disqualified %}
             <img src="{% static 'home/mouz_small.png' %}" style="height: 30px; border-radius:50px" />
         {% else %}
         <object data="{{ p|get_avatar_url }}" type="image/png" style="height: 30px; border-radius:50px">
             <img src="{% static 'home/mouz_small.png' %}" style="height: 30px; border-radius:50px" />
        </object>
        {% endif %}
        <div class="is-size-6 has-text-weight-bold is-size-7-mobile text-ellipsis" style="display:grid;">
            <span class="text-ellipsis"><a class="{% if p.user == request.user %}has-text-weight-bold has-text-danger{% endif %}" href="{% url 'top20:submit-detail' comp=object.slug pk=p.pk username=p.user.username %}">{{ p.user }}</a></span>
            <span style="line-height: 12px">
            <span class="text-ellipsis is-italic" style="{% if p.disqualified %}text-decoration: line-through red solid 3px; {% endif %}font-size: 8pt; color: lightgrey; font-weight: 300" title="Last edit date">{{ p.updated_at|date:"d.m.y H:i" }} (CET)</span>
            {% if p.disqualified %}
                <span style="color: red; font-size: 8pt"> User got disqualified from the competition due to breaking either competition related or mouz discord rules</span>
            {% endif %}
            </span>
        </div>
        <div style="display: grid; grid-template-columns: 2fr 3fr 3fr; place-items: center;">
            <div class="has-text-weight-bold is-size-5 is-size-6-mobile {% if p.user == request.user %}has-text-weight-bold has-text-danger{% endif %}">#{{ p.dense_rank }}</div>
            <div style="
            display: grid;
            place-items: center;
            "><div style="
            font-size: small;
            color: lightgrey;
            ">CORRECT</div><div class="{% if p.user == request.user %}has-text-weight-bold has-text-danger{% endif %}" title=""><strong>{{ p.correct_picks}}/{{ rn }}</strong></div></div>
            <div style="
            display: grid;
            place-items: center;
            "><div style="
            font-size: small;
            color: lightgrey;
            ">POINTS
            </div><div class="{% if p.user == request.user %}has-text-weight-bold has-text-danger{% endif %}" title="{{ p.sum_points }} points"><strong>{{ p.sum_points }}</strong></div></div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endif %}
{% endif %}
{% endblock %}
