{% extends "home/base.html" %}
{% load bulma_tags %}
{% load top20 %}
{% block breadcrumbs %}
<div class="pl-2 py-1 mb-2" style="width: fit-content; border-radius: 4px; border: 1px solid #363636;width: 100%;">
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'home:home' %}" style="color: orange">Home</a></li>
            <li><a href="{% url 'top20:detail' slug=object.competition.slug %}" style="color: orange">{{ object.competition }}</a></li>
            <li class="is-active"><a href="#" aria-current="page" class="has-text-white">{{ object.user.username }}</a></li>
        </ul>
    </nav>
</div>
{% endblock %}
{% block main_content %}
<div style="display:grid;grid-template-columns: 1fr 1fr;place-items: center;/* place-content: center; */grid-template-rows: 60px;grid-gap: 1rem;">
    <div style="
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    border-radius: 4px;
    grid-auto-flow: row;
    "
    class="box-transparent"
    >
        <div class="is-size-5 has-text-centered">{{ correct }}/{{ rn }}</div>
        <div class="is-family-monospace is-size-7">Correct picks</div>
    </div>
    <div style="
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    border-radius: 4px;
    grid-auto-flow: row;
    "
    class="box-transparent"
    >
        <div class="is-size-5 has-text-centered">{{ points }}</div>
        <div class="is-family-monospace is-size-7">Points</div>
    </div>
</div>
{% if not is_active or object.user == request.user %}
<table class="table is-bordered is-fullwidth comp-table has-text-white my-3 box-transparent">
    <thead>
        <tr>
            <th class="has-text-white" style="width: 30px">#</th>
            <th class="has-text-white">Guess</th>
            <th class="has-text-white">HLTV</th>
            <th class="has-text-white" style="width: 30px">Points</th>
        </tr>
    </thead>
    <tbody>
        {% for g in guesses %}
        {% with object.competition|correctPick:g.index as cp %} 
            <tr>
                <td style="width: 30px">{{ g.index }}</td>
                <td style="{% if cp == g.val %}color: green;{% elif g.points > 0 %}color: orange;{% else %}color: red;{% endif %}">{{ g.val }}</td>
                <td>{{ cp }}</td>
                <td style="width: 30px">{{ g.points }}</td>
            </tr>
        {% endwith %}
        {% endfor %}
    </tbody>
</table>
{% else %}
<article class="message is-info my-3">
  <div class="message-header">
      <p>{{ object }}</p>
  </div>
  <div class="message-body">
    You can't view others submits as long as they still can edit it.
  </div>
</article>
{% endif %}
{% endblock %}
