<!DOCTYPE html>
{% load socialaccount %}
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="#VAMOUZ" />
    <link rel="icon" href="{% static 'home/mouz.png' %}" type="image/png" sizes="16x16 32x32">
    <link rel="icon" href="{% static 'home/mouz.png' %}" type="image/png" sizes="96x96">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'home/mouz.png' %}">
<meta property="og:type" content="website" />
<meta property="og:url" content="https://vamouz.de" />
<meta name="theme-color" content="#FF0000">
<meta property="og:url" content="https://vamouz.de/">
<meta property="og:type" content="website">
<meta property="og:title" content="#VAMOUZ">
{% block social_description %}
<meta property="og:description" content="Community website for MOUZ fans. Content, competitions & more!">
<meta name="twitter:description" content="Community website for mousesports fans. Content, competitions & more!">
{% endblock %}
<meta property="og:image" content="https://vamouz.de/{% static 'home/mouzz.png' %}">

<!-- Twitter Meta Tags -->
<meta property="twitter:domain" content="vamouz.de">
<meta property="twitter:url" content="https://vamouz.de/">
<meta name="twitter:title" content="#VAMOUZ">
<meta name="twitter:image" content="https://vamouz.de/{% static 'home/mouzz.png' %}">
{% block extra_head %}
{% endblock %}

    <title>#VAMOUZ</title>
    <script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule="" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="{% static 'home/bulma.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.2.0/dist/bulma-tooltip.min.css" integrity="sha256-OdzWB7wl1AMkFaqhYBnoQJGUJMDAexXa44rXs/d2n4A=" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>

    <script>
function setCookie(name,value,days) {
    var expires = "";
    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days*24*60*60*1000));
        expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + (value || "")  + expires + "; path=/";
}
function getCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
}
    </script>
<style>
.pagination-link:focus, .pagination-next:focus, .pagination-previous:focus, .pagination-link.is-current {
    border-color: red !important;
}

a.toggle {
    color: grey;
}
a.toggle.is-active {
    color: #FF0000;
}
.twitch-video {
  padding-top: 56.25%;
  position: relative;
  height: 0;
}
.dropdown-content {
    background-color: rgb(27 31 39) !important;
}
.dropdown-content li > span {
    color: white !important;
}

.select-dropdown.dropdown-content li:hover {
    background-color: rgba(0, 0, 0, 0.25);
}
.select-dropdown.dropdown-content li.selected {
    background-color: rgb(0 0 0 / 25%);
}

ion-icon {
    pointer-events: none;
}
.social-link:hover {
    background-color: red !important;
    color: white;
}
.twitch-video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
    
.text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.materialize-textarea {
    color: white;
}

.mouz-button {
    background-color: rgb(255 0 0 / 40%) !important;
}
.mouz-button:hover {
    background-color: rgb(255 0 0 / 100%) !important;
}

.major-letter {
    display: grid;
    justify-content:center;
    align-content: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s ease;
    padding: 0 !important;
    position: relative;
    overflow: hidden;
}
.major-letter img {
    filter: grayscale(70%);
    transition: all 1s ease;
    object-fit: contain;
}

.major-letter:hover img {
    filter: none;
}

.major-letter .overlay {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    display:none;
    place-items:center;
    grid-gap: .3rem;
    grid-template-columns:1fr 1fr;
    bottom: 1rem;
    width: 100%;
    padding: 0 0.3rem;
}
.major-letter:hover .overlay {
    display:grid;
}

.player-socials {
    visibility: hidden;
}

.player:hover .player-socials {
    visibility: visible;
}


html {
    color: white;
    background-color: #080707;
    overflow: auto;
}
a {
    color: orange;
}

.pagination-link {
    color: white !important;
    line-height: 48px !important;
}

.is-current {
 background-color: #FF0000 !important;
}



[data-tooltip]:not(.is-disabled):before, [data-tooltip]:not(.is-loading):before, [data-tooltip]:not([disabled]):before {
    border: 2px solid #FF0000;
    background-color: rgb(37 45 57 / 100%);
    padding: 0.1rem 0.3rem !important;
    font-weight: 700 !important;
}

span[data-tooltip] {
    border-bottom: none !important;
}

[data-tooltip]:not(.is-disabled).has-tooltip-arrow.has-tooltip-arrow:after, [data-tooltip]:not(.is-loading).has-tooltip-arrow.has-tooltip-arrow:after, [data-tooltip]:not([disabled]).has-tooltip-arrow.has-tooltip-arrow:after {
border-color: #FF0000 transparent transparent;
}

h1, h2, h3, h4, h5, h6, strong, input, .help-block {
    color: white !important;
}
.table, .table thead td, .table thead th, .table th, .table tfoot th {
    color: white;
}
.breadcrumb {
    line-height: unset;
    height: unset;
    background-color: unset;
}
.content-box {
    border-radius: 4px;
    margin: 1rem 0;
}
.content-header {
    font-size: 18px;
    border-bottom: 1px solid orange;
    margin-bottom: 1.5rem;
    width: fit-content;
}
.comp-table {
    background-color: #252d39;
    color: white;
}
.comp-table.thead, .comp-table.tr {
    color: white;
}
.nav-header {
    background-color: rgb(37 45 57 / 65%);
}
.input {
    background-color: #252d39; !important;
    color: white !important;
}
.input::placeholder {
    color: lightgrey !important;
}
input[disabled] {
    background-color: #252d39 !important;
    color: white !important;
    border-color: red !important;
}
.progress-wrapper {
  position: relative;
}

.progress-value {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: calc(1rem / 1.5);
  line-height: 1rem;
  font-weight: bold;
}

.no-matches {
    display: grid;
    place-content: center;
}

.main-content {
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0.3rem 0.2rem;
}

.progress.is-small+.progress-value {
  font-size: calc(0.75rem / 1.5);
  line-height: 0.75rem;
}

.progress.is-medium+.progress-value {
  font-size: calc(1.25rem / 1.5);
  line-height: 1.25rem;
}

.progress.is-large+.progress-value {
  font-size: calc(1.5rem / 1.5);
  line-height: 1.5rem;
}
.label {
    color: lightgrey;
    margin-bottom: 0 !important;
    place-self: flex-start;
    margin-right: 0.5rem !important;
}
.field {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
}
.msg-form .field {
    display: grid;
    grid-template-columns: 70px 1fr;
    align-items: center;
}

.msg-form .textarea {
    background-color: #1b1f2700;
    color: white;
}

.msg-form select {
    background-color: #1b1f27;
    color: white;
}
select option {
    background-color: #1b1f27;
    color: white;
}

.content-form .field {
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
}
.label {
}

.mouz-tag {
    line-height: 18px !imporant;
    height: 18px !important;
    font-size: 12px !important;
    padding: 0.1rem 0.3rem;
}
.box-transparent {
    padding: 0.3rem 0.5rem;
    background-color:  rgb(37 45 57 / 65%);
    border-radius: 4px;
    transition: box-shadow 0.5s, background-color 0.5s, visibility 0s, color 0.5s; 
    box-shadow: rgb(255 0 0 / 30%) 0px 0px 2px 1.5px;
}
.box-transparent:hover, .box-transparent.is-active {
    background-color:  rgb(37 45 57 / 100%);
    box-shadow: rgb(255 0 0 / 70%) 0px 0px 2px 1.5px;
}
.is-currently-active {
    box-shadow: rgb(255 0 0 / 100%) 0px 0px 2px 1.5px;
}
.is-currently-active:hover {
    box-shadow: rgb(255 0 0  / 100%) 0px 0px 2px 1.5px;
}
a:hover {
  color: #ff6c06;
}
.match {
    display: grid;
    grid-template-columns: 190px 1fr;
}

.new-match {
    display: grid;
    grid-template-columns: 32px 160px 1fr;
    grid-template-areas: "match-game-logo match-opponent match-date-link" "match-game-logo match-opponent match-event";
    align-items:center;
}
.match-game-logo {
    grid-area: match-game-logo;
}
.match-result {
    grid-area: match-result;
}
.match-opponent {
    grid-area: match-opponent;
    display: grid;
    grid-gap: 0.4rem;
    grid-auto-flow: row;
}
.match-date-link {
    grid-area: match-date-link;
    justify-self: flex-end;
}
.match-event {
    grid-area: match-event;
    font-size: 10pt;
    justify-self: flex-end;
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    grid-gap: 5px;
}
.match span:nth-child(2) {
    justify-self: flex-end;
}
.match:hover {
    background-color: rgb(188 36 60 / 40%);;
    transition: all 0.5s;
}

.nav-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 55px;
}

.match-wrapper, .match-wrapper-lol {
    display: grid;
    grid-auto-flow: row;
    height: auto;
    grid-template-rows: 1fr 1fr;
    grid-gap: 25px;
}
@media only screen and (max-width: 732px) {
.match-wrapper .match-wrapper-lol {
    display: grid;
    grid-auto-flow: row;
    height: auto;
    grid-template-rows: auto;
    grid-gap: 10px;
}
.new-match {
    display: grid;
    grid-template-columns: 32px 1fr;
    grid-template-areas: "match-game-logo match-opponent match-result" "match-game-logo match-date-link match-result" "match-game-logo match-event match-result";
    align-items:center;
}
.match-date-link {
    justify-self: flex-start;
}
.match-opponent {
    grid-auto-flow: column;
}
.match-result-link {
    justify-self: flex-end;
}
.match-event {
    justify-self:flex-start
}
.match-game-logo {
    grid-row: 1/4;
}
}
@media only screen and (max-width: 1000px) {
  .main-content {
    margin: 0.5rem 0.3rem;
  }
  .match {
      display: grid;
      grid-template-columns: 1fr;
  }
.match span:nth-child(2) {
    justify-self: flex-end;
}
}
@media only screen and (max-width: 717px) {
    .match-new {
        user-select: none;
    }
}
@media only screen and (min-width: 1001px) {
  .main-content {
    margin: 0.5rem auto;
    max-width: 1000px;
    width: 100%;
  }
}
body {
    overflow: hidden;
}

body::before {
    background-image: url(/static/home/bg_new.png);
    background-size: auto;
    background-position: center top;
    background-repeat: repeat-y;
    content: "";
    position: absolute;
    top: 5px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.17;
    z-index: -1;
}
</style>
</head>
<body class="has-text-white is-relative" style="min-height: 100vh;display: flex;flex-direction: column;">
    <div class="nav-header px-2">
        <div class="main-content nav-wrapper my-0">
        <a href="/" style="color: white; justify-self: flex-start;display: grid;grid-auto-flow: column;place-items: center;grid-gap: 5px;">
            <img src="{% static 'home/mouz_small.png' %}" \="" style="
            width: 40px;
            ">
            <span class="is-size-5 is-size-6-mobile" style="font-family: 'Roboto Slab', serif;color: #FF0000; letter-spacing: 0.15rem;">#VAMOUZ</span>
        </a>
        <div style="justify-self: flex-end">
            {% if request.user.is_authenticated %}
            <b>Hi {{ request.user }}!</b> - <a href="{% url 'account_logout' %}">Logout</a>
            {% else %}
            {% get_providers as socialaccount_providers %}
            {% for provider in socialaccount_providers %}
            {% if provider.id == 'discord' %}

            <form action="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params next=request.get_full_path %}" method="post">
            {% csrf_token %}
            <button type="submit" class="button is-info is-outlined is-small socialaccount_provider {{ provider.id }}"
               title="{{ provider.name }}"
            >
                <span class="icon">
                    <ion-icon name="logo-discord"></ion-icon>
                </span>
                <span class="ml-1">Login with Discord</span>
            </button>
            </form>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
        </div>
    </div>
    <div class="main-content" style="">
        {% block breadcrumbs %}

        {% endblock %}
        {% block main_content %}
        {% endblock %}
    </div>
    <footer class="footer py-2" style="margin-top: auto; background-color: transparent; max-width: 820px; margin-left: auto; margin-right: auto;">
  <div class="content has-text-centered has-text-white">
    <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); grid-gap: 0.5rem">
            <a class="button is-primary is-outlined is-small"
               href="https://discord.gg/mousesports"
            >
                <span class="icon">
                    <ion-icon name="logo-discord"></ion-icon>
                </span>
                <span class="ml-1">mousesports</span>
            </a>
            <a class="button is-info is-outlined is-small"
               href="https://twitter.com/mousesports"
            >
                <span class="icon">
                    <ion-icon name="logo-twitter"></ion-icon>
                </span>
                <span class="ml-1">mousesports</span>
            </a>
            <a class="button is-warning is-outlined is-small"
               href="https://www.instagram.com/mousesports/"
            >
                <span class="icon">
                    <ion-icon name="logo-instagram"></ion-icon>
                </span>
                <span class="ml-1">mousesports</span>
            </a>
            <a class="button is-danger is-outlined is-small"
               href="https://www.youtube.com/mousesports"
            >
                <span class="icon">
                    <ion-icon name="logo-youtube"></ion-icon>
                </span>
                <span class="ml-1">mousesports</span>
            </a>
    </div>
    <p class="is-family-monospace mt-2" style="font-size: 12px">
    This website is <span class="has-text-weight-bold">NOT</span> connected to <a href="http://mousesports.com">mousesports</a> itself in any way - this is a website made by fans, for fans.<br><a href="https://bsky.app/profile/vamouz.de">contact</a> - <a href="https://gitlab.com/y0fl0w/vamouz.de">source code</a><br>
    {% if request.user.is_staff %}<a class="has-text-danger" href="https://vamouz.de/tasks">scheduled discord notis</a> - <a class="has-text-danger" href="https://vamouz.de/vamouz">admin</a>{% endif %}
    </p>
  </div>
</footer>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#252d39",
      "text": "#ff0000"
    },
    "button": {
      "background": "#252d39",
      "text": "#ff0000"
    }
  },
  "theme": "edgeless"
});
</script>
</body>
</html>
