{% load static %}
<div class="box-transparent player is-relative" style="display: grid;height:150px;background-image: url('https://mousesports.com/wp-content/uploads/2024/11/20241112_Jorko-900x1200.jpg');background-size: 100%;background-position: top;">
  <div style="position:absolute; width: 100%; height: 100%; display: grid; padding: 0.3rem 0.5rem;">
    <div class="player-socials mt-2" style="display: grid; justify-content: space-evenly; color: red; grid-auto-flow: column; height: fit-content;">
      <a href="https://twitter.com/JorkoTwitch" style="color: red" target="_blank" title="Twitter">
        <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitter">
          <ion-icon name="logo-twitter"></ion-icon>
        </span>
      </a>
      <a href="https://instagram.com/jorkotwitch" style="color: red" target="_blank" title="Instagram">
        <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Instagram">
          <ion-icon name="logo-instagram"></ion-icon>
        </span>
      </a>
    </div>
    <div style="justify-self: center; align-self: flex-end; font-size: x-large; font-weight: 700; background-color: rgb(37 45 57 / 35%);border-radius: 4px;padding: 0rem 0.5rem;">
    	Jorko
    </div> 
  </div> 
</div>
<div class="box-transparent player is-relative" style="display: grid;height:150px;background-image: url('https://mousesports.com/wp-content/uploads/2024/11/20241113_xelex-768x1024.jpg');background-size: 100%;background-position: top;">
  <div style="position:absolute; width: 100%; height: 100%; display: grid; padding: 0.3rem 0.5rem;">
    <div class="player-socials mt-2" style="display: grid; justify-content: space-evenly; color: red; grid-auto-flow: column; height: fit-content;">
      <a href="https://twitter.com/xelexcs" style="color: red" target="_blank" title="Twitter">
        <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitter">
          <ion-icon name="logo-twitter"></ion-icon>
        </span>
      </a>
      <a href="https://instagram.com/adrianvincze_" style="color: red" target="_blank" title="Instagram">
        <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Instagram">
          <ion-icon name="logo-instagram"></ion-icon>
        </span>
      </a>
    </div>
    <div style="justify-self: center; align-self: flex-end; font-size: x-large; font-weight: 700; background-color: rgb(37 45 57 / 35%);border-radius: 4px;padding: 0rem 0.5rem;">
    	xelex
    </div> 
  </div> 
</div>
<div class="box-transparent player is-relative" style="display: grid;height:150px;background-image: url('https://mousesports.com/wp-content/uploads/2024/11/20241112_Cliqq-768x1024.jpg');background-size: 100%;background-position: top;">
  <div style="position:absolute; width: 100%; height: 100%; display: grid; padding: 0.3rem 0.5rem;">
    <div class="player-socials mt-2" style="display: grid; justify-content: space-evenly; color: red; grid-auto-flow: column; height: fit-content;">
      <a href="https://twitter.com/CliqCS2" style="color: red" target="_blank" title="Twitter">
        <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitter">
          <ion-icon name="logo-twitter"></ion-icon>
        </span>
      </a>
    </div>
    <div style="justify-self: center; align-self: flex-end; font-size: x-large; font-weight: 700; background-color: rgb(37 45 57 / 35%);border-radius: 4px;padding: 0rem 0.5rem;">
    	Cliqq
    </div> 
  </div> 
</div>
<div class="box-transparent player is-relative" style="display: grid;height:150px;background-image: url('https://mousesports.com/wp-content/uploads/2024/11/20241112_Blick-900x1200.jpg');background-size: 100%;background-position: top;">
  <div style="position:absolute; width: 100%; height: 100%; display: grid; padding: 0.3rem 0.5rem;">
    <div class="player-socials mt-2" style="display: grid; justify-content: space-evenly; color: red; grid-auto-flow: column; height: fit-content;">
      <a href="https://twitter.com/bl1ckcs" style="color: red" target="_blank" title="Twitter">
        <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitter">
          <ion-icon name="logo-twitter"></ion-icon>
        </span>
      </a>
      <a href="https://instagram.com/brimir08" style="color: red" target="_blank" title="Instagram">
        <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Instagram">
          <ion-icon name="logo-instagram"></ion-icon>
        </span>
      </a>
    </div>
    <div style="justify-self: center; align-self: flex-end; font-size: x-large; font-weight: 700; background-color: rgb(37 45 57 / 35%);border-radius: 4px;padding: 0rem 0.5rem;">
    	Blick
    </div> 
  </div> 
</div>
<div class="box-transparent player is-relative" style="display: grid; height:150px;">
    <img src="{% static 'home/mouz_small.png' %}" style="opacity: 0.5; max-height: 150px;margin: 0 auto;" />
    <div style="position:absolute; width: 100%; height: 100%; display: grid; padding: 0.3rem 0.5rem;">
        <div class="player-socials mt-2" style="display: grid; justify-content: space-evenly; color: red; grid-auto-flow: column; height: fit-content;">
            <a href="https://twitter.com/JoeyCSGO_" style="color: red" target="_blank" title="Twitter">
                <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitter">
                    <ion-icon name="logo-twitter"></ion-icon>
                </span>
            </a>
	    <a href="https://www.twitch.tv/joey_cs2" style="color: red" target="_blank" title="Twitch">
		    <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitch">
			    <ion-icon name="logo-twitch"></ion-icon>
		    </span>
	      </a>
        </div>
        <div style="justify-self: center; align-self: flex-end; font-size: x-large; font-weight: 700; background-color: rgb(37 45 57 / 35%);border-radius: 4px;padding: 0rem 0.5rem;">
	  Joey
	</div>
    </div>
</div>

<div class="box-transparent player is-relative" style="display: grid;height:150px;background-image: url('https://mousesports.com/wp-content/uploads/2024/11/20241112_TOBIZ-900x1200.jpg');background-size: 100%;background-position: top;">
  <div style="position:absolute; width: 100%; height: 100%; display: grid; padding: 0.3rem 0.5rem;">
    <div class="player-socials mt-2" style="display: grid; justify-content: space-evenly; color: red; grid-auto-flow: column; height: fit-content;">
      <a href="https://twitter.com/TOBIZcsgo" style="color: red" target="_blank" title="Twitter">
        <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitter">
          <ion-icon name="logo-twitter"></ion-icon>
        </span>
      </a>
      <a href="https://www.twitch.tv/tobizcsgo" style="color: red" target="_blank" title="Twitch">
        <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitch">
          <ion-icon name="logo-twitch"></ion-icon>
        </span>
      </a>
    </div>
    <div style="justify-self: center; align-self: flex-end; font-size: x-large; font-weight: 700; background-color: rgb(37 45 57 / 35%);border-radius: 4px;padding: 0rem 0.5rem;">
      TOBIZ
    </div> 
  </div> 
</div>
