{% load static %}
<div class="box-transparent player" style="display: grid; height:150px; background-image: url('https://pbs.twimg.com/media/Gh-QdAHXIAA1Wme?format=jpg&name=large'); background-size:cover;">
	<div class="player-socials mt-2" style="display: grid; justify-content: space-evenly; color: red; grid-auto-flow: column; height: fit-content;">
		<a href="https://twitter.com/SpinxCS2" style="color: red" target="_blank" title="Twitter">
			<span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitter">
				<ion-icon name="logo-twitter"></ion-icon>
			</span>
		</a>
		<a href="https://instagram.com/spinxcs" style="color: red" target="_blank" title="Instagram">
			<span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Instagram">
				<ion-icon name="logo-instagram"></ion-icon>
			</span>
		</a>
		<a href="https://twitch.tv/spinxxcsgo" style="color: red" target="_blank" title="Twitch">
			<span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitch">
				<ion-icon name="logo-twitch"></ion-icon>
			</span>
		</a>
	</div>
	<div style="justify-self: center; align-self: flex-end; font-size: x-large; font-weight: 700; background-color: rgb(37 45 57 / 35%);border-radius: 4px;padding: 0rem 0.5rem;">
		Spinx
	</div> 
</div>
<div class="box-transparent player" style="display: grid; height:150px; background-image: url('https://mousesports.com/wp-content/uploads/2024/01/WebsiteCS_xertioN-768x1024.jpg'); background-size:cover;">
	<div class="player-socials mt-2" style="display: grid; justify-content: space-evenly; color: red; grid-auto-flow: column; height: fit-content;">
		<a href="https://twitter.com/xertioNNCSGO" style="color: red" target="_blank" title="Twitter">
			<span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitter">
				<ion-icon name="logo-twitter"></ion-icon>
			</span>
		</a>
		<a href="https://instagram.com/xertioncsgo" style="color: red" target="_blank" title="Instagram">
			<span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Instagram">
				<ion-icon name="logo-instagram"></ion-icon>
			</span>
		</a>
		<a href="https://twitch.tv/xertioncsgo" style="color: red" target="_blank" title="Twitch">
			<span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitch">
				<ion-icon name="logo-twitch"></ion-icon>
			</span>
		</a>
	</div>
	<div style="justify-self: center; align-self: flex-end; font-size: x-large; font-weight: 700; background-color: rgb(37 45 57 / 35%);border-radius: 4px;padding: 0rem 0.5rem;">
		xertioN
	</div> 
</div>
<div class="player box-transparent" style="display: grid; height:150px; background-image: url('https://mousesports.com/wp-content/uploads/2024/01/WebsiteCS_Jimpphat-768x1024.jpg'); background-size:cover;">
	<div class="player-socials mt-2" style="display: grid; justify-content: space-evenly; color: red; grid-auto-flow: column; height: fit-content;">
		<a href="https://twitter.com/jimpphatCSGO" style="color: red" target="_blank" title="Twitter">
			<span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitter">
				<ion-icon name="logo-twitter"></ion-icon>
			</span>
		</a>
		<a href="https://twitch.tv/jimpphatt" style="color: red" target="_blank" title="Twitch">
			<span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitch">
				<ion-icon name="logo-twitch"></ion-icon>
			</span>
		</a>
	</div>
	<div style="justify-self: center; align-self: flex-end; font-size: x-large; font-weight: 700; background-color: rgb(37 45 57 / 35%);border-radius: 4px;padding: 0rem 0.5rem;">
		Jimpphat
	</div> 
</div>
<div class="player box-transparent" style="display: grid; height:150px; background-image: url('https://mousesports.com/wp-content/uploads/2024/01/WebsiteCS_torzsi-768x1024.jpg'); background-size:cover;">
	<div class="player-socials mt-2" style="display: grid; justify-content: space-evenly; color: red; grid-auto-flow: column; height: fit-content;">
		<a href="https://twitter.com/torzsics" style="color: red" target="_blank" title="Twitter">
			<span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitter">
				<ion-icon name="logo-twitter"></ion-icon>
			</span>
		</a>
		<a href="https://instagram.com/torzsasadam" style="color: red" target="_blank" title="Instagram">
			<span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Instagram">
				<ion-icon name="logo-instagram"></ion-icon>
			</span>
		</a>
		<a href="https://twitch.tv/torzsics" style="color: red" target="_blank" title="Twitch">
			<span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitch">
				<ion-icon name="logo-twitch"></ion-icon>
			</span>
		</a>
	</div>
	<div style="justify-self: center; align-self: flex-end; font-size: x-large; font-weight: 700; background-color: rgb(37 45 57 / 35%);border-radius: 4px;padding: 0rem 0.5rem;">
		torzsi
	</div> 
</div>
<div class="player box-transparent" style="display: grid; height:150px; background-image: url('https://mousesports.com/wp-content/uploads/2024/01/WebsiteCS_Brollan-768x1024.jpg'); background-size:cover;">
	<div class="player-socials mt-2" style="display: grid; justify-content: space-evenly; color: red; grid-auto-flow: column; height: fit-content;">
		<a href="https://twitter.com/AdexNica" style="color: red" target="_blank" title="Twitter">
			<span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitter">
				<ion-icon name="logo-twitter"></ion-icon>
			</span>
		</a>
		<a href="https://www.instagram.com/adexnica/" style="color: red" target="_blank" title="Instagram">
			<span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Instagram">
				<ion-icon name="logo-instagram"></ion-icon>
			</span>
		</a>
	</div>
	<div style="justify-self: center; align-self: flex-end; font-size: x-large; font-weight: 700; background-color: rgb(37 45 57 / 35%);border-radius: 4px;padding: 0rem 0.5rem;">
		Brollan
	</div>
</div>
<div class="player box-transparent" style="display: grid; height:150px; background-image: url('https://mousesports.com/wp-content/uploads/2024/01/WebsiteCS_sycrone-768x1024.jpg'); background-size:cover;">
	<div class="player-socials mt-2" style="display: grid; justify-content: space-evenly; color: red; grid-auto-flow: column; height: fit-content;">
		<a href="https://twitter.com/sycronecs" style="color: red" target="_blank" title="Twitter">
			<span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitter">
				<ion-icon name="logo-twitter"></ion-icon>
			</span>
		</a>
		<a href="https://instagram.com/sycronecs" style="color: red" target="_blank" title="Instagram">
			<span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Instagram">
				<ion-icon name="logo-instagram"></ion-icon>
			</span>
		</a>
	</div>
	<div style="justify-self: center; align-self: flex-end; font-size: x-large; font-weight: 700; background-color: rgb(37 45 57 / 35%);border-radius: 4px;padding: 0rem 0.5rem;">
		sycrone
	</div> 
</div>
