{% load static %}
<div class="box-transparent player is-relative" style="display: grid;height:150px;background-image: url('https://mousesports.com/wp-content/uploads/2024/03/NARMAN_Website-300x300.png'); background-size:cover;">
    <div style="position:absolute; width: 100%; height: 100%; display: grid; padding: 0.3rem 0.5rem;">
        <div class="player-socials mt-2" style="display: grid; justify-content: space-evenly; color: red; grid-auto-flow: column; height: fit-content;">
        </div>
        <div style="justify-self: center; align-self: flex-end; font-size: x-large; font-weight: 700; background-color: rgb(37 45 57 / 35%);border-radius: 4px;padding: 0rem 0.5rem;">
       		NARMAN
	</div> 
    </div> 
</div>
<div class="box-transparent player is-relative" style="display: grid;height:150px;background-image: url('https://mousesports.com/wp-content/uploads/2024/03/ULNIT_Website-300x300.png'); background-size:cover;">
    <div style="position:absolute; width: 100%; height: 100%; display: grid; padding: 0.3rem 0.5rem;">
        <div class="player-socials mt-2" style="display: grid; justify-content: space-evenly; color: red; grid-auto-flow: column; height: fit-content;">
        </div>
        <div style="justify-self: center; align-self: flex-end; font-size: x-large; font-weight: 700; background-color: rgb(37 45 57 / 35%);border-radius: 4px;padding: 0rem 0.5rem;">
        	Ulnit
	</div> 
    </div> 
</div>
<div class="box-transparent player is-relative" style="display: grid;height:150px;background-image: url('https://mousesports.com/wp-content/uploads/2024/03/FORCE_Website-300x300.png'); background-size:cover;">
    <div style="position:absolute; width: 100%; height: 100%; display: grid; padding: 0.3rem 0.5rem;">
        <div class="player-socials mt-2" style="display: grid; justify-content: space-evenly; color: red; grid-auto-flow: column; height: fit-content;">
        </div>
        <div style="justify-self: center; align-self: flex-end; font-size: x-large; font-weight: 700; background-color: rgb(37 45 57 / 35%);border-radius: 4px;padding: 0rem 0.5rem;">
        	Force
	</div> 
    </div> 
</div>
<div class="box-transparent player is-relative" style="display: grid; height:150px;">
    <img src="{% static 'home/mouz_small.png' %}" style="opacity: 0.5; max-height: 150px;margin: 0 auto;" />
    <div style="position:absolute; width: 100%; height: 100%; display: grid; padding: 0.3rem 0.5rem;">
        <div class="player-socials mt-2 is-hidden" style="display: grid; justify-content: space-evenly; color: red; grid-auto-flow: column; height: fit-content;">
        </div>
        <div style="justify-self: center; align-self: flex-end; font-size: x-large; font-weight: 700; background-color: rgb(37 45 57 / 35%);border-radius: 4px;padding: 0rem 0.5rem;">
        	 Bengan
	</div>
    </div>
</div>
<div class="box-transparent player is-relative" style="display: grid; height:150px;">
    <img src="{% static 'home/mouz_small.png' %}" style="opacity: 0.5; max-height: 150px;margin: 0 auto;" />
    <div style="position:absolute; width: 100%; height: 100%; display: grid; padding: 0.3rem 0.5rem;">
        <div class="player-socials mt-2 is-hidden" style="display: grid; justify-content: space-evenly; color: red; grid-auto-flow: column; height: fit-content;">
        </div>
        <div style="justify-self: center; align-self: flex-end; font-size: x-large; font-weight: 700; background-color: rgb(37 45 57 / 35%);border-radius: 4px;padding: 0rem 0.5rem;">
        	Supream^	
	</div>
    </div>
</div>
<div class="box-transparent player is-relative" style="display: grid; height:150px;">
    <img src="{% static 'home/mouz_small.png' %}" style="opacity: 0.5; max-height: 150px;margin: 0 auto;" />
    <div style="position:absolute; width: 100%; height: 100%; display: grid; padding: 0.3rem 0.5rem;">
        <div class="player-socials mt-2 is-hidden" style="display: grid; justify-content: space-evenly; color: red; grid-auto-flow: column; height: fit-content;">
        </div>
        <div style="justify-self: center; align-self: flex-end; font-size: large; font-weight: 700; background-color: rgb(37 45 57 / 35%);border-radius: 4px;padding: 0rem 0.5rem;">
        	ImmortalFaith
	</div>
    </div>
</div>

