{% extends "home/base.html" %}
{% load home %}

{% block breadcrumbs %}
<div class="pl-2 py-1 mb-2" style="width: fit-content; border-radius: 4px; border: 1px solid #363636;width: 100%;">
<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="{% url 'home:home' %}" style="color: orange">Home</a></li>
        <li class="is-active"><a href="#" aria-current="page" class="has-text-white">{{ object.name }}</a>
        </li>
    </ul>
</nav>
</div>
{% endblock %}

{% block social_description %}
<meta property="og:description" content="{{ object.name }}">
<meta name="twitter:description" content="{{ object.name }}">
{% endblock %}
{% load humanize %}
{% load cache %}
{% load static %}
{% block main_content %}
<div class="box-transparent content mb-3">
    {% if object.desc %}
    {{ object.desc_rendered|safe }}
    <div class="mt-2" style="font-family: monospace; font-size: 12px">
        <span class="has-text-weight-bold">Event date: </span><span>{{ object.starting_at|date:"d.m.y H:i" }} - {{ object.ending_at|date:"d.m.y H:i" }} (CET)</span>
    </div>
    {% if object.url %}
    <div>
        <span class="has-text-weight-bold">URL:</span> <a target="_blank" href="{{ object.url }}">{{ object.name }}</a>
    </div>
    {% endif %}
    {% endif %}
</div>

<h5 class="subtitle is-7 has-text-weight-bold has-text-white mb-1 ml-1">Teams</h5>
<div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(min(230px, 100vw), 1fr)); place-content: center; grid-gap: 1rem" class="mb-3">
    {% for t in object.data.teams %}
    <div class="box-transparent" style="display:grid">
        <div class="is-size-6 has-text-weight-bold" style="justify-self: center">{{ t.name }}</div>
        {% for p in t.players %}
        <div style="font-family: monospace; font-size: 10pt;">- {{ p }}</div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
<h5 class="subtitle is-7 has-text-weight-bold has-text-white mb-1 ml-1">Bracket</h5>
<div class="box-transparent py-3" style="overflow: auto">
    <div style="display: grid; grid-gap: 15px; grid-auto-flow: column; min-width: 100%; width: fit-content; justify-content: flex-start; font-family: monospace; font-size: 14px;" class="mb-2">
         {% for br in object.data.bracket %}
         <div style="display: grid; width: 170px; place-content: center; position: relative; font-weight: 600;">
            {{ br.name }}
         </div>
        {% endfor %}
    </div>
    <div style="display: grid; grid-gap: 15px; grid-auto-flow: column; min-width: 100%; width: fit-content; justify-content: flex-start">
    {% for br in object.data.bracket %}
        <div style="display: grid; grid-row-gap: 15px; {% if br.align_top %}align-content: flex-start;{% else %}align-content: space-around;{% endif %} width: 170px; position: relative;">
        {% for m in br.matches %}
        <div class="is-size-7 is-relative is-unselectable is-clickable has-light-border" style="width: 100%; height: auto; grid-template-columns: 1fr 30px; border-radius: 4px; display: grid; min-height: 0px; min-width: 0px; overflow: hidden; border: 1px solid rgba(188,188,188,0.3);">
            <div style="display:grid;">
                <div class="has-text-weight-bold px-1 text-ellipsis" title="{{m.team_a}}">{{ m.team_a}}</div>
                <div class="has-text-weight-bold px-1 text-ellipsis" title="{{m.team_b}}">{{ m.team_b}}</div>
                <div class="" style="line-height: 14px; font-size: 10px;">
                    <div class="pl-1 has-light-border-top" style="border-top: 1px solid rgba(188,188,188,0.3);">
                        <span>
                            {{ m.date }}
                      </span>
                    </div>
                </div>
            </div>
            <div style="display: grid">
                <div style="display: grid; justify-content: flex-end;" class="px-1">
                    <div class="has-text-weight-bold">
                        <span class="score score_a" style="{% if m.score_a > m.score_b %}color: green;{% elif m.score_b > m.score_a %}color: red;{% endif %}">
                            {% if m.score_a %}{{ m.score_a }}{% else %}0{% endif %}
                        </span>
                    </div>
                </div>
                <div style="display: grid; justify-content: flex-end;" class="px-1">
                    <div class="has-text-weight-bold">
                        <span class="score score_a" style="{% if m.score_a > m.score_b %}color: red;{% elif m.score_b > m.score_a %}color: green;{% endif %}">
                            {% if m.score_b %}{{ m.score_b }}{% else %}0{% endif %}
                        </span>
                    </div>
                </div>
                <div class="has-text-weight-light has-light-border-top px-1" style="display: grid; justify-content: flex-end; line-height: 14px; font-size: 10px;border-top: 1px solid rgba(188,188,188,0.3);">
                    <span>
                        BO{{ m.best_of }}
                    </span>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    {% endfor %}
</div>
</div>
{% endblock %}
