{% extends "home/base.html" %}
{% load home %}
{% load bulma_tags %}


{% block extra_head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}


{% block breadcrumbs %}
<div class="pl-2 py-1 mb-2" style="width: fit-content; border-radius: 4px; border: 1px solid #363636;width: 100%;">
<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="{% url 'home:home' %}" style="color: orange">Home</a></li>
        <li class="is-active"><a href="#" aria-current="page" class="has-text-white">Discord message</a>
        </li>
    </ul>
</nav>
</div>
{% endblock %}

{% block main_content %}
<article class="message is-info mb-3" style="background-color:unset">
  <div class="message-header" style="background-color: #ff0000;">
      <p>What is this?</p>
  </div>
  <div class="message-body content" style="background-color: rgb(37 45 57 / 100%); color: white">
      <p>This sends a message to the chosen channel through frozenpeek.</p>
  </div>
</article>
<form class="msg-form mb-6" action="/fpeekmsg/" method="post" style="height: 500px">
    {% csrf_token %}
    {{ form|bulma }} 

    <button type="submit" name="_submit" class="button is-success mt-2 is-fullwidth">Send</button>
</form>
{% endblock %}
