{% extends "home/base.html" %}
{% load humanize %}
{% load cache %}
{% load static %}
{% load home %}
{% load markdownify %}

{% block main_content %}
<div class="content-box my-0">
    {% cache 10 home %}
    {% if streams %}
    <div id="streams">
        <h5 class="subtitle is-7 has-text-weight-bold has-text-white mb-1">Streams</h5>
        <div style="display: grid;grid-template-columns: repeat(auto-fit, minmax(min(280px, 95vw), 1fr));grid-gap: .75rem;" class="mb-3">
            {% for s in streams %}
            <a href="https://twitch.tv/{{ s.user_name }}" target="_blank" class="box-transparent is-size-6 has-text-weight-bold" style="display: grid; place-content: center; grid-template-columns: 32px 1fr; grid-gap: 0.5rem;">
                <div style="display: grid;place-items: center center;place-content: center;grid-gap: 3px;grid-template-rows: 24px 8px;">
                    <span class="icon" style="place-self:center; color:white;">
                        <ion-icon name="logo-twitch" size="large"></ion-icon>
                    </span>
                    <span style="color: white; font-size: 8pt; line-height: 7pt;" title="Viewers">
                        {{ s.viewers }}
                    </span>
                </div>
                <div style="overflow-x: hidden">
                    <div style="align-self:center">twitch.tv/{{ s.user_name }}</div>
                    <div class="text-ellipsis" style="color: white; font-size: 8pt; font-family: monospace;" title="{{ s.title }}">{{ s.title }}</div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div id="matches-normal">
        <h5 class="subtitle is-7 has-text-weight-bold has-text-white mb-1">Upcoming matches</h5>
        <div style="display: grid;grid-template-columns: repeat(auto-fill, minmax(min(450px, 95vw), 1fr));grid-gap: .75rem;" class="mb-3">
            {% for m in general_up|slice:":10" %}
                {% include 'home/match.html' %}
            {% empty %}
            <div class="mb-1 no-matches has-text-weight-bold box-transparent" style="grid-column: 1/3">
                No upcoming matches :(
            </div>
            {% endfor %}
        </div>
        {% if general_up|length > 10 %}
        <a href="{% url 'home:matches' %}" class="box-transparent mb-3 is-size-6 has-text-weight-bold" style="display: grid; place-content: center">More upcoming matches</a>
        {% endif %}
        <h5 class="subtitle is-7 has-text-weight-bold has-text-white mb-1">Recent results</h5>
        <div style="display: grid;grid-template-columns: repeat(auto-fill, minmax(min(450px, 95vw), 1fr));grid-gap: .75rem;" class="mb-3">
            {% for m in general_fi|slice:":10" %}
            {% include 'home/match.html' %}
            {% empty %}
            <div class="mb-1 no-matches box-transparent has-text-weight-bold" style="grid-column: 1/3">
                No upcoming matches :(
            </div>
            {% endfor %}
        </div>
        {% if general_fi|length > 10 %}
        <a href="{% url 'home:results' %}" class="box-transparent mb-3 is-size-6 has-text-weight-bold" style="display: grid; place-content: center">More results</a>
        {% endif %}
    </div>
    <h5 class="subtitle is-7 has-text-weight-bold has-text-white mb-1">Teams</h5>
    <div style="display: grid;grid-template-columns: repeat(auto-fill, minmax(min(140px, 95vw), 1fr));grid-gap: .75rem;" class="mb-3">
    <a href="{% url 'home:team' 'cs2' %}" class="box-transparent px-1 py-1" style="display: grid; grid-template-columns: 24px 1fr; place-content: center; grid-gap: 0.3rem">
        <img style="align-self: center; vertical-align: middle" src="{% static 'home/mouz_csgo.png' %}"/>
        <span class="text-ellipsis" style="align-self: center; font-weight: 700; font-size: 13px">CS2</span>
    </a>
    <a href="{% url 'home:team' 'cs2-nxt' %}" class="box-transparent px-1 py-1" style="display: grid; grid-template-columns: 24px 1fr; place-content: center; grid-gap: 0.3rem">
        <img style="align-self: center; vertical-align: middle" src="{% static 'home/mouz_csgonxt.png' %}"/>
        <span class="text-ellipsis" style="align-self: center; font-weight: 700; font-size: 13px">CS2 NXT</span>
    </a>
    <a href="{% url 'home:team' 'valorant' %}" class="box-transparent px-1 py-1" style="display: grid; grid-template-columns: 24px 1fr; place-content: center; grid-gap: 0.3rem">
        <img style="align-self: center; vertical-align: middle" src="{% static 'home/mouz_valo.png' %}"/>
        <span class="text-ellipsis" style="align-self: center; font-weight: 700; font-size: 13px">VALORANT</span>
    </a>
    <a href="{% url 'home:team' 'dota' %}" class="box-transparent px-1 py-1" style="display: grid; grid-template-columns: 24px 1fr; place-content: center; grid-gap: 0.3rem">
        <img style="align-self: center; vertical-align: middle" src="{% static 'home/mouz_dota.png' %}"/>
        <span class="text-ellipsis" style="align-self: center; font-weight: 700; font-size: 13px">Dota</span>
    </a>
    <a href="{% url 'home:team' 'sim' %}" class="box-transparent px-1 py-1" style="display: grid; grid-template-columns: 24px 1fr; place-content: center; grid-gap: 0.3rem">
        <img style="align-self: center; vertical-align: middle" src="{% static 'home/mouzz.png' %}"/>
        <span class="text-ellipsis" style="align-self: center; font-weight: 700; font-size: 13px">Sim Racing</span>
    </a>
    <a href="{% url 'home:team' 'solo' %}" class="box-transparent px-1 py-1" style="display: grid; grid-template-columns: 24px 1fr; place-content: center; grid-gap: 0.3rem">
        <img style="align-self: center; vertical-align: middle" src="{% static 'home/mouzz.png' %}"/>
        <span class="text-ellipsis" style="align-self: center; font-weight: 700; font-size: 13px">SC2, SF & WC3</span>
    </a>
    </div>
    {% endcache %}
    <h5 class="subtitle is-7 has-text-weight-bold has-text-white mb-1">Discord</h5>
    <div style="display: grid;grid-template-columns: repeat(auto-fit, minmax(min(230px, 95vw), 1fr));grid-gap: .75rem;" class="mb-3">
        <a href="https://discord.gg/mousesports" class="box-transparent is-size-6 has-text-weight-bold" style="display: grid; place-content: center; grid-template-columns: 24px 1fr; grid-gap: 0.2rem; height: 34px">
            <span class="icon" style="place-self:center; color: white;">
                <ion-icon name="logo-discord" size="large"></ion-icon>
            </span>
            <span style="align-self:center;">Join Discord</span>
        </a>
        <a href="{% url 'home:ranking' %}" class="box-transparent is-size-6 has-text-weight-bold" style="display: grid; place-content: center; grid-template-columns: 24px 1fr; grid-gap: 0.2rem; height: 34px">
            <span class="icon" style="place-self:-center; color: white;">
                <ion-icon name="list" size="large"></ion-icon>
            </span>
            <span style="align-self:center;">Ranking</span>
        </a>
        <a href="{% url 'quotes' %}" class="box-transparent is-size-6 has-text-weight-bold" style="display: grid; place-content: center; grid-template-columns: 24px 1fr; grid-gap: 0.2rem; height: 34px">
            <span class="icon" style="place-self:-center; color: white;">
                <ion-icon name="chatbox-ellipses-outline" size=large"></ion-icon>
            </span>
            <span style="align-self:center;">Quotes</span>
        </a>
        {% if request.user.is_staff %}
        <a href="{% url 'home:fpeekmsg' %}" class="box-transparent is-size-6 has-text-weight-bold" style="display: grid; place-content: center; grid-template-columns: 24px 1fr; grid-gap: 0.2rem; height: 34px">
            <span class="icon" style="place-self:-center; color: white;">
                <ion-icon name="mail-outline"></ion-icon>
            </span>
            <span style="align-self:center;">Send message</span>
        </a>
        {% endif %}
    </div>
    {% comment %}
    <h5 class="subtitle is-7 has-text-weight-bold has-text-white mb-1 is-hidden">Major letters</h5>
    <div style="display: grid;grid-template-columns: repeat(auto-fit, minmax(min(150px, 100vw), 1fr)); height: fit-content; grid-gap: .5rem;" class="mb-3 is-hidden">
        <div class="box-transparent py-1 px-2 major-letter">
            <img src="{% static 'home/bymas_small.png' %}"/>
            <div class="overlay">
                <a class="button is-danger is-small is-fullwidth" target="_blank" href="{% static 'home/bymas.png' %}">
                    <span>Image</span>
                </a>
                <a class="button is-danger is-small is-fullwidth" target="_blank" href="{% static 'home/bymas.pdf' %}">
                    <span>PDF</span>
                </a>
            </div>
        </div>
        <div class="box-transparent py-1 px-2 major-letter">
            <img src="{% static 'home/frozen_small.png' %}"/>
            <div class="overlay">
                <a class="button is-danger is-small is-fullwidth" target="_blank" href="{% static 'home/frozen.png' %}">
                    <span>Image</span>
                </a>
                <a class="button is-danger is-small is-fullwidth" target="_blank" href="{% static 'home/frozen.pdf' %}">
                    <span>PDF</span>
                </a>
            </div>
        </div>
        <div class="box-transparent py-1 px-2 major-letter">
            <img src="{% static 'home/dexter_small.png' %}"/>
            <div class="overlay">
                <a class="button is-danger is-small is-fullwidth" target="_blank" href="{% static 'home/dexter.png' %}">
                    <span>Image</span>
                </a>
                <a class="button is-danger is-small is-fullwidth" target="_blank" href="{% static 'home/dexter.pdf' %}">
                    <span>PDF</span>
                </a>
            </div>
        </div>
        <div class="box-transparent py-1 px-2 major-letter">
            <img src="{% static 'home/ropz_small.png' %}"/>
            <div class="overlay">
                <a class="button is-danger is-small is-fullwidth" target="_blank" href="{% static 'home/ropz.png' %}">
                    <span>Image</span>
                </a>
                <a class="button is-danger is-small is-fullwidth" target="_blank" href="{% static 'home/ropz.pdf' %}">
                    <span>PDF</span>
                </a>
            </div>
        </div>
        <div class="box-transparent py-1 px-2 major-letter">
            <img src="{% static 'home/acor_small.png' %}"/>
            <div class="overlay">
                <a class="button is-danger is-small is-fullwidth" target="_blank" href="{% static 'home/acor.png' %}">
                    <span>Image</span>
                </a>
                <a class="button is-danger is-small is-fullwidth" target="_blank" href="{% static 'home/acor.pdf' %}">
                    <span>PDF</span>
                </a>
            </div>
        </div>
        <div class="box-transparent py-1 px-2 major-letter">
            <img src="{% static 'home/mithr_small.png' %}"/>
            <div class="overlay">
                <a class="button is-danger is-small is-fullwidth" target="_blank" href="{% static 'home/mithr.png' %}">
                    <span>Image</span>
                </a>
                <a class="button is-danger is-small is-fullwidth" target="_blank" href="{% static 'home/mithr.pdf' %}">
                    <span>PDF</span>
                </a>
            </div>
        </div>
    </div>
    <a class="button is-small is-fullwidth is-danger mb-3 is-hidden" href="{% url 'home:major' %}">All major letters</a>
    {% endcomment %}
    {% cache 10 home2 %}
    <div class="">
        <h5 class="subtitle is-7 has-text-weight-bold has-text-white mb-1">Competitions</h5>
        {% for c in competitions %}
        {% if c.pk == 7  %}
        <div class="box-transparent mb-3 {% if c.is_active %}is-currently-active{% endif %}" style="display: grid;">
            <div class="has-text-weight-bold">
                <a href="{% url 'top20:detail' slug=c.slug %}">{{ c.name }}</a>
                {% if not c.is_active and not c.is_finished %}
                <span class="tag is-dark ml-2 mouz-tag">Upcoming</span>
                {% elif c.is_finished and c.is_complete %}
                <span class="tag is-danger ml-2 mouz-tag">Finished</span>
                {% elif c.is_finished %}
                <span class="tag is-success ml-2 mouz-tag">Ongoing</span>
                {% else %}
                <span class="tag is-success ml-2 mouz-tag">Live</span>
                {% endif %}
            </div>
            <div style="font-family: monospace; font-size: 12px">{{ c.starting_at|date:"d.m.y" }} - {{ c.ending_at|date:"d.m.y" }}</div>
        </div>
        {% endif %}
        {% endfor %}
        <div class="is-hidden">
        {% if events %}
        <h5 class="subtitle is-7 has-text-weight-bold has-text-white mb-1">Events</h5>
        {% for c in events %}
        <div class="box-transparent mb-3" style="display: grid;">
            <div class="has-text-weight-bold">
                <a href="{% url 'home:event' slug=c.slug %}">{{ c.name }}</a>
                {% if not c.is_active and not c.is_finished %}
                <span class="tag is-dark ml-2 mouz-tag">Upcoming</span>
                {% elif c.is_finished %}
                <span class="tag is-danger ml-2 mouz-tag">Finished</span>
                {% else %}
                <span class="tag is-success ml-2 mouz-tag">Live</span>
                {% endif %}
            </div>
            <div style="font-family: monospace; font-size: 12px">{{ c.starting_at|date:"d.m.y" }} - {{ c.ending_at|date:"d.m.y" }}</div>
        </div>
        {% endfor %}
        {% endif %}
        </div>
    </div>
    <h5 class="subtitle is-7 has-text-weight-bold has-text-white mb-1">Recent mouz-related content - videos, interviews and more</h5>
    <div style="display: grid; grid-template-columns: 1fr; grid-gap: 0.75rem" class="mb-3">
        {% for c in content %}
        <div class="box-transparent" style="display: grid; grid-gap: .1rem">
            <div class="has-text-weight-bold">
                <a href="{{ c.url }}" class="mr-1" target="_blank">{{ c.name }}</a>
            </div>
            <div style="font-size: 12px">
                <span title="{{ c.date }}">{{ c.date|naturaltime }}</span>
                {% for t in c.tags.all %}
                <a class="tag is-info has-text-weight-bold mouz-tag ml-1" style="background-color: {{ "CONTENT_TAG_BG_COLOR"|setting }}; color: {{ "CONTENT_TAG_TXT_COLOR"|setting }}" href="{% url 'content:list' %}?tag={{ t.name }}">{{ t.name }}</a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: .75rem">
        <a class="box-transparent is-size-6 has-text-weight-bold" style="display: grid; place-content: center;" href="{% url 'content:list' %}">More content</a>
        <a class="box-transparent is-size-6 has-text-weight-bold" style="display: grid; place-content: center;" href="{% url 'content:add' %}">Add content</a>
    </div>
    {% endcache %}
</div>
<script>
let show_more = false;
function toggle(val) {
    let toggle = document.getElementById('mode-toggle');
    let normal = document.getElementById('matches-normal');
    let extended = document.getElementById('matches-extended');
    if (val === 0) {
        setCookie("detailed", "false")
    } else if (val === 1) {
        setCookie("detailed", "true")
    }
    for (let i = 0; i < toggle.children.length; i++) {
        let elem = toggle.children[i];
        if (val !== i && elem.classList.contains("is-active")) {
            elem.classList.remove("is-active");
            normal.classList.toggle("is-hidden");
        }
        else if (val === i && !elem.classList.contains("is-active")) {
            elem.classList.add("is-active");            
            extended.classList.toggle("is-hidden");
        }
    }
}
function showMore() {
    let button = document.getElementById('show-more-trigger');
    let content = document.getElementById('more-games');
    console.log(button);
    console.log(content);
    if (show_more) {
        content.classList.add("is-hidden");
        button.text = "Show League of Legends & VALORANT";
    } else {
        content.classList.remove("is-hidden");
        button.text = "Hide League of Legends & VALORANT";
    }
    show_more = !show_more;
}
function adaptGrid() {
    let mm = 0;
    document.querySelectorAll(".upcoming").forEach(u => {
        let um = u.querySelectorAll('.new-match').length;
        if (um > mm) {
            mm = um;
        }
    });
    document.querySelectorAll(".match-wrapper").forEach(mw => {
        mw.style.gridTemplateRows = `${mm*51+40}px 1fr`;
    });
    mm = 0;
    document.querySelectorAll(".upcoming-lol").forEach(u => {
        let um = u.querySelectorAll('.new-match').length;
        if (um > mm) {
            mm = um;
        }
    });
    document.querySelectorAll(".match-wrapper-lol").forEach(mw => {
        mw.style.gridTemplateRows = `${mm*51+40}px 1fr`;
    });
}
document.addEventListener("DOMContentLoaded", function() {
    adaptGrid();
});
window.addEventListener('resize', r => {
    if (window.outerWidth < 718) {
        document.querySelectorAll(".match-wrapper-lol").forEach(mw => {
            mw.style = null;
        });
    } else {
        adaptGrid()
    }
});
</script>
{% endblock %}
