{% load static %}
<div class="box-transparent player is-relative" style="display: grid;height:150px;background-image: url('https://mousesports.com/wp-content/uploads/2022/12/Carlsen_Website.jpg'); background-size:cover;">
    <div style="position:absolute; width: 100%; height: 100%; display: grid; padding: 0.3rem 0.5rem;">
        <div class="player-socials mt-2" style="display: grid; justify-content: space-evenly; color: red; grid-auto-flow: column; height: fit-content;">
            <a href="https://twitter.com/LoLCarlsen" style="color: red" target="_blank" title="Twitter">
                <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitter">
                    <ion-icon name="logo-twitter"></ion-icon>
                </span>
            </a>
        </div>
        <div style="justify-self: center; align-self: flex-end; font-size: x-large; font-weight: 700; background-color: rgb(37 45 57 / 35%);border-radius: 4px;padding: 0rem 0.5rem;">
          Carlsen
        </div> 
    </div> 
</div>
<div class="box-transparent player is-relative" style="display: grid;height:150px;background-image: url('https://mousesports.com/wp-content/uploads/2022/12/Tore_Website.jpg'); background-size:cover;">
    <div style="position:absolute; width: 100%; height: 100%; display: grid; padding: 0.3rem 0.5rem;">
        <div class="player-socials mt-2" style="display: grid; justify-content: space-evenly; color: red; grid-auto-flow: column; height: fit-content;">
            <a href="https://twitter.com/Tore_lol" style="color: red" target="_blank" title="Twitter">
                <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitter">
                    <ion-icon name="logo-twitter"></ion-icon>
                </span>
            </a>
        </div>
        <div style="justify-self: center; align-self: flex-end; font-size: x-large; font-weight: 700; background-color: rgb(37 45 57 / 35%);border-radius: 4px;padding: 0rem 0.5rem;">
          Tore
        </div> 
    </div> 
</div>
<div class="box-transparent player is-relative" style="display: grid;height:150px;background-image: url('https://mousesports.com/wp-content/uploads/2022/12/Kynetic_Website.jpg'); background-size:cover;">
    <div style="position:absolute; width: 100%; height: 100%; display: grid; padding: 0.3rem 0.5rem;">
        <div class="player-socials mt-2" style="display: grid; justify-content: space-evenly; color: red; grid-auto-flow: column; height: fit-content;">
            <a href="https://twitter.com/Kyneticcc" style="color: red" target="_blank" title="Twitter">
                <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitter">
                    <ion-icon name="logo-twitter"></ion-icon>
                </span>
            </a>
        </div>
        <div style="justify-self: center; align-self: flex-end; font-size: x-large; font-weight: 700; background-color: rgb(37 45 57 / 35%);border-radius: 4px;padding: 0rem 0.5rem;">
          Kynetic
        </div> 
    </div> 
</div>
<div class="box-transparent player is-relative" style="display: grid;height:150px;background-image: url('https://mousesports.com/wp-content/uploads/2022/12/Sencux_Website.jpg'); background-size:cover;">
    <div style="position:absolute; width: 100%; height: 100%; display: grid; padding: 0.3rem 0.5rem;">
        <div class="player-socials mt-2" style="display: grid; justify-content: space-evenly; color: red; grid-auto-flow: column; height: fit-content;">
            <a href="https://twitter.com/SencuxLoL" style="color: red" target="_blank" title="Twitter">
                <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitter">
                    <ion-icon name="logo-twitter"></ion-icon>
                </span>
            </a>
        </div>
        <div style="justify-self: center; align-self: flex-end; font-size: x-large; font-weight: 700; background-color: rgb(37 45 57 / 35%);border-radius: 4px;padding: 0rem 0.5rem;">
          Sencux
        </div> 
    </div> 
</div>
<div class="box-transparent player is-relative" style="display: grid;height:150px;background-image: url('https://mousesports.com/wp-content/uploads/2022/12/Alexx_Website.jpg'); background-size:cover;">
    <div style="position:absolute; width: 100%; height: 100%; display: grid; padding: 0.3rem 0.5rem;">
        <div class="player-socials mt-2" style="display: grid; justify-content: space-evenly; color: red; grid-auto-flow: column; height: fit-content;">
            <a href="https://twitter.com/Alexx__lol" style="color: red" target="_blank" title="Twitter">
                <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitter">
                    <ion-icon name="logo-twitter"></ion-icon>
                </span>
            </a>
        </div>
        <div style="justify-self: center; align-self: flex-end; font-size: x-large; font-weight: 700; background-color: rgb(37 45 57 / 35%);border-radius: 4px;padding: 0rem 0.5rem;">
          Alexx
        </div> 
    </div> 
</div>
<div class="box-transparent player is-relative" style="display: grid;height:150px;background-image: url('https://mousesports.com/wp-content/uploads/2022/12/Donby_Website.jpg'); background-size:cover;">
    <div style="position:absolute; width: 100%; height: 100%; display: grid; padding: 0.3rem 0.5rem;">
        <div class="player-socials mt-2" style="display: grid; justify-content: space-evenly; color: red; grid-auto-flow: column; height: fit-content;">
            <a href="https://twitter.com/donbygg" style="color: red" target="_blank" title="Twitter">
                <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitter">
                    <ion-icon name="logo-twitter"></ion-icon>
                </span>
            </a>
        </div>
        <div style="justify-self: center; align-self: flex-end; font-size: x-large; font-weight: 700; background-color: rgb(37 45 57 / 35%);border-radius: 4px;padding: 0rem 0.5rem;">
          donby
        </div> 
    </div> 
</div>
