{% extends "home/base.html" %}
{% block social_description %}
<meta property="og:description" content="Major letters for the MOUZ team from the community">
<meta name="twitter:description" content="Major letters for the MOUZ team from the community">
{% endblock %}
{% load humanize %}
{% load cache %}
{% load static %}
{% block breadcrumbs %}
<div class="pl-2 py-1 mb-2" style="width: fit-content; border-radius: 4px; border: 1px solid #363636;width: 100%;">
<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="{% url 'home:home' %}" style="color: orange">Home</a></li>
        <li class="is-active"><a href="#" aria-current="page" class="has-text-white">Major letters</a>
        </li>
    </ul>
</nav>
</div>
{% endblock %}
{% block main_content %}
<div style="display: grid;grid-template-columns: repeat(auto-fit, minmax(min(300px, 100vw), 1fr)); height: fit-content; grid-gap: .5rem;" class="mb-3">
    <div>
        <div class="box-transparent py-1 px-2 major-letter">
            <img src="{% static 'home/bymas_small.png' %}"/ style="filter: grayscale(0)">
        </div>
        <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 0.5rem" class="mt-1">
            <a class="button is-danger mouz-button is-small is-fullwidth" target="_blank" href="{% static 'home/bymas.png' %}">
                <span>Image</span>
            </a>
            <a class="button is-danger mouz-button is-small is-fullwidth" target="_blank" href="{% static 'home/bymas.pdf' %}">
                <span>PDF</span>
            </a>
        </div>
    </div>
    <div>
        <div class="box-transparent py-1 px-2 major-letter">
            <img src="{% static 'home/frozen_small.png' %}"/ style="filter: grayscale(0)">
        </div>
        <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 0.5rem" class="mt-1">
            <a class="button is-danger mouz-button is-small is-fullwidth" target="_blank" href="{% static 'home/frozen.png' %}">
                <span>Image</span>
            </a>
            <a class="button is-danger mouz-button is-small is-fullwidth" target="_blank" href="{% static 'home/frozen.pdf' %}">
                <span>PDF</span>
            </a>
        </div>
    </div>
    <div>
        <div class="box-transparent py-1 px-2 major-letter">
            <img src="{% static 'home/dexter_small.png' %}"/ style="filter: grayscale(0)">
        </div>
        <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 0.5rem" class="mt-1">
            <a class="button is-danger mouz-button is-small is-fullwidth" target="_blank" href="{% static 'home/dexter.png' %}">
                <span>Image</span>
            </a>
            <a class="button is-danger mouz-button is-small is-fullwidth" target="_blank" href="{% static 'home/dexter.pdf' %}">
                <span>PDF</span>
            </a>
        </div>
    </div>
    <div>
        <div class="box-transparent py-1 px-2 major-letter">
            <img src="{% static 'home/ropz_small.png' %}"/ style="filter: grayscale(0)">
        </div>
        <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 0.5rem" class="mt-1">
            <a class="button is-danger mouz-button is-small is-fullwidth" target="_blank" href="{% static 'home/ropz.png' %}">
                <span>Image</span>
            </a>
            <a class="button is-danger mouz-button is-small is-fullwidth" target="_blank" href="{% static 'home/ropz.pdf' %}">
                <span>PDF</span>
            </a>
        </div>
    </div>
    <div>
        <div class="box-transparent py-1 px-2 major-letter">
            <img src="{% static 'home/acor_small.png' %}"/ style="filter: grayscale(0)">
        </div>
        <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 0.5rem" class="mt-1">
            <a class="button is-danger mouz-button is-small is-fullwidth" target="_blank" href="{% static 'home/acor.png' %}">
                <span>Image</span>
            </a>
            <a class="button is-danger mouz-button is-small is-fullwidth" target="_blank" href="{% static 'home/acor.pdf' %}">
                <span>PDF</span>
            </a>
        </div>
    </div>
    <div>
        <div class="box-transparent py-1 px-2 major-letter">
            <img src="{% static 'home/mithr_small.png' %}"/ style="filter: grayscale(0)">
        </div>
        <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 0.5rem" class="mt-1">
            <a class="button is-danger mouz-button is-small is-fullwidth" target="_blank" href="{% static 'home/mithr.png' %}">
                <span>Image</span>
            </a>
            <a class="button is-danger mouz-button is-small is-fullwidth" target="_blank" href="{% static 'home/mithr.pdf' %}">
                <span>PDF</span>
            </a>
        </div>
    </div>
</div>
<h5 class="subtitle is-7 has-text-weight-bold has-text-white mb-1 ml-1">Community messages</h5>
<div style="display: grid;grid-template-columns: repeat(auto-fit, minmax(min(300px, 100vw), 1fr)); height: fit-content; grid-gap: .5rem;" class="mb-3">
    <div>
        <div class="box-transparent py-1 px-2 major-letter">
            <img src="{% static 'home/community_1_small.png' %}"/ style="filter: grayscale(0)">
        </div>
        <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 0.5rem" class="mt-1">
            <a class="button is-danger mouz-button is-small is-fullwidth" target="_blank" href="{% static 'home/community_1.png' %}">
                <span>Image</span>
            </a>
            <a class="button is-danger mouz-button is-small is-fullwidth" target="_blank" href="{% static 'home/community_1.pdf' %}">
                <span>PDF</span>
            </a>
        </div>
    </div>
    <div>
        <div class="box-transparent py-1 px-2 major-letter">
            <img src="{% static 'home/community_2_small.png' %}"/ style="filter: grayscale(0)">
        </div>
        <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 0.5rem" class="mt-1">
            <a class="button is-danger mouz-button is-small is-fullwidth" target="_blank" href="{% static 'home/community_2.png' %}">
                <span>Image</span>
            </a>
            <a class="button is-danger mouz-button is-small is-fullwidth" target="_blank" href="{% static 'home/community_2.pdf' %}">
                <span>PDF</span>
            </a>
        </div>
    </div>
    <div>
        <div class="box-transparent py-1 px-2 major-letter">
            <img src="{% static 'home/community_3_small.png' %}"/ style="filter: grayscale(0)">
        </div>
        <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 0.5rem" class="mt-1">
            <a class="button is-danger mouz-button is-small is-fullwidth" target="_blank" href="{% static 'home/community_3.png' %}">
                <span>Image</span>
            </a>
            <a class="button is-danger mouz-button is-small is-fullwidth" target="_blank" href="{% static 'home/community_3.pdf' %}">
                <span>PDF</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}
