{% load static %}
{% load humanize %}
{% load home %}
{% load markdownify %}
{% if m.title %}
<div class="box-transparent px-2 py-1 new-match {% if m.starting_at < tnow and not m.status == 'finished' %}is-active{% endif %}">
  <div class="match-game-logo mr-2 my-2" title="{{ m.get_game_display }}">
    {% if m.game == 'sc2' %}
    <img style="vertical-align: middle" src="{% static 'home/mouz_sc2.png' %}"/>
    {% elif m.game == 'wc3' %}
    <img style="vertical-align: middle" src="{% static 'home/mouz_wc3.png' %}"/>
    {% elif m.game == 'dota' %}
    <img style="vertical-align: middle" src="{% static 'home/mouz_dota.png' %}"/>
    {% elif m.game == 'sf' %}
    <img style="vertical-align: middle" src="{% static 'home/mouz_sf5.png' %}"/>
    {% else %}
    <img style="vertical-align: middle" src="{% static 'home/mouz_small.png' %}"/>
    {% endif %}
  </div>
  <div class="match-opponent">
    <div class="has-text-weight-bold" style="line-height:15px">
      <span style="font-size: 9pt">{{ m.message|remove_emojis|markdownify }}</span>
    </div>
  </div>
  <span class="match-date-link text-ellipsis" style="font-size: 13px; height: 18px; line-height:18px; overflow: unset;" class="is-family-monospace" title="{{ m.starting_at|date:"d.m.y H:i"}} (Europe/Berlin)">
    {% if m.starting_at < tnow and not m.status == 'finished' %}
    <span style="letter-spacing: 2px; border: 3px solid #bc243c; border-radius: 5px; padding: 0rem 0.1rem 0 0.2rem; font-weight: 700; font-size: 8pt;">LIVE</span>
    {% else %}
    <span class="is-unselectable has-tooltip-bottom" data-tooltip="{{ m.starting_at|date:"d.m.y H:i"}} (EU/BER)" {% if m.starting_at < in24 %}style="color: red; font-weight: 700"{% endif %}>{{ m.starting_at|naturaltime }}</span>
    {% endif %}
    {% if m.date_guessed %} | <span style="font-family: monospace; font-weight: 700; font-size: 8pt" title="match time is guessed and not confirmed yet">estimated</span>{% endif %}
    {% if not m.status == 'finished' and m.stream %}
    - <a target="_blank" style="font-family: monospace" href="{{ m.stream }}">Stream</a>
    {% endif %}
  </span>
  <span class="match-event" style="" title="Event">
    <ion-icon name="trophy-sharp"></ion-icon>
    <a target="_blank" class="text-ellipsis" href="{{ m.get_event_url }}">
      {{ m.get_event_name }}
    </a>
  </span>
</div>
{% else %}
{% with m.get_data as data %}
<div class="box-transparent px-2 py-1 new-match {% if data.date < tnow and not m.status == 'finished' and not m.postponed%}is-active{% endif %}">
  <div class="match-game-logo mr-2 my-2" title="{{ m.get_game_display }}">
    {% if m.game == 'csgo' %}
    {% if data.name_a == 'MOUZ' %}
    <img style="vertical-align: middle" src="{% static 'home/mouz_csgo.png' %}"/>
    {% else %}
    <img style="vertical-align: middle" src="{% static 'home/mouz_csgonxt.png' %}"/>
    {% endif %}
    {% elif m.game == 'valo' %}
    <img style="vertical-align: middle" src="{% static 'home/mouz_valo.png' %}"/>
    {% elif m.game == 'lol' %}
    <img style="vertical-align: middle" src="{% static 'home/mouz_lol.png' %}"/>
    {% elif m.game == 'dota' %}
    <img style="vertical-align: middle" src="{% static 'home/mouz_dota.png' %}"/>
    {% else %}
    {{ m.game }}
    {% endif %}
  </div>
  <div class="match-opponent">
    <div class="has-text-weight-bold text-ellipsis is-unselectable" style="line-height:22px">
      {{ data.name_b }}
    </div>
    {% if m.status == 'finished' %}
    <div class="match-result-link" style="line-height:15px; margin-top:-5px">
        <span class="has-text-weight-bold is-hidden-mobile" style="color: {% if data.score_a > data.score_b %}green{% elif data.score_a == data.score_b %}orange{% else %}red{% endif %}">
            {{ data.score_a }}:{{ data.score_b }}
        </span>
    </div>
    {% endif %}
  </div>
  {% if m.status == 'finished' %}
  <div class="match-result is-hidden-tablet" style="justify-self: flex-end; font-size: 17pt; line-height:15px;">
      <span class="has-text-weight-bold" style="color: {% if data.score_a > data.score_b %}green{% elif data.score_a == data.score_b %}orange{% else %}red{% endif %}">
          {{ data.score_a }}:{{ data.score_b }}
      </span>
  </div>
  {% endif %}
  <span class="match-date-link text-ellipsis" style="font-size: 13px; height: 18px; line-height:18px; overflow: unset;" class="is-family-monospace">
    {% if m.postponed %}
      <span style="font-size: 9pt; font-family: monospace;">POSTPONED</span> 
    {% elif data.date < tnow and not m.status == 'finished' %}
    <span style="letter-spacing: 2px; border: 3px solid #bc243c; border-radius: 5px; padding: 0rem 0.1rem 0 0.2rem; font-weight: 700; font-size: 8pt;">LIVE</span>
    {% else %}
    <span class="is-unselectable has-tooltip-bottom" data-tooltip="{{ data.date|date:"d.m.y H:i"}} (EU/BER)" {% if data.date < in24 and not m.status == 'finished' %}style="color: red; font-weight: 700"{% endif %}>
        {{ data.date|naturaltime }}
    </span>
    {% if m.date_guessed %} | <span style="font-family: monospace; font-weight: 700; font-size: 8pt" title="match time is guessed and not confirmed yet">estimated</span>{% endif %}
    {% endif %}
    {% with match_link_data=m.get_match_link %}
    {% if match_link_data.link %}
    <span class="match-result-link" style="font-size: 9pt; font-family: monospace;">  
        - <a target="_blank" href="{{ match_link_data.link }}">{{ match_link_data.title }}</a>
    </span>
    {% endif %}
    {% if not m.status == 'finished' and m.stream %}
    | <a target="_blank" style="font-family: monospace" href="{{ m.stream }}">Stream</a>
    {% endif %}
    {% endwith %}
  </span>
  <span class="match-event" style="" title="Event">
    <ion-icon name="trophy-sharp"></ion-icon>
    <a target="_blank" class="text-ellipsis" style="width: 100%" title="{{ m.get_event_name }}" href="{{ m.get_event_url }}">
      {{ m.get_event_name }}
    </a>
  </span>
</div>
{% endwith %}
{% endif %}
