{% extends "home/base.html" %}
{% load humanize %}
{% load cache %}
{% load static %}
{% block main_content %}
<div class="content-box mt-1">
    {% cache 10 new_home %}
    <h5 class="subtitle is-7 has-text-weight-bold has-text-white mb-1 ml-1">Discord</h5>
    <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: .5rem" class="mb-3">
        <a class="button is-info is-small" href="https://discord.gg/mousesports">
            <span class="icon is-large">
                <ion-icon name="logo-discord" size="large"></ion-icon>
            </span>
            <span class="ml-1">Join Discord</span>
        </a>
        <a class="button is-small is-fullwidth is-danger" href="{% url 'home:ranking' %}">
            <span class="icon is-large">
                <ion-icon name="list" size="large"></ion-icon>
            </span>
            <span class="ml-1">Ranking</span>
        </a>
    </div>
    <h5 class="subtitle is-7 has-text-weight-bold has-text-white mb-1 ml-1 is-hidden">Major letters</h5>
    <div style="display: grid;grid-template-columns: repeat(auto-fit, minmax(min(150px, 100vw), 1fr)); height: fit-content; grid-gap: .5rem;" class="mb-3 is-hidden">
        <div class="box-transparent py-1 px-2 major-letter">
            <img src="{% static 'home/bymas_small.png' %}"/>
            <div class="overlay">
                <a class="button is-danger is-small is-fullwidth" target="_blank" href="{% static 'home/bymas.png' %}">
                    <span>Image</span>
                </a>
                <a class="button is-danger is-small is-fullwidth" target="_blank" href="{% static 'home/bymas.pdf' %}">
                    <span>PDF</span>
                </a>
            </div>
        </div>
        <div class="box-transparent py-1 px-2 major-letter">
            <img src="{% static 'home/frozen_small.png' %}"/>
            <div class="overlay">
                <a class="button is-danger is-small is-fullwidth" target="_blank" href="{% static 'home/frozen.png' %}">
                    <span>Image</span>
                </a>
                <a class="button is-danger is-small is-fullwidth" target="_blank" href="{% static 'home/frozen.pdf' %}">
                    <span>PDF</span>
                </a>
            </div>
        </div>
        <div class="box-transparent py-1 px-2 major-letter">
            <img src="{% static 'home/dexter_small.png' %}"/>
            <div class="overlay">
                <a class="button is-danger is-small is-fullwidth" target="_blank" href="{% static 'home/dexter.png' %}">
                    <span>Image</span>
                </a>
                <a class="button is-danger is-small is-fullwidth" target="_blank" href="{% static 'home/dexter.pdf' %}">
                    <span>PDF</span>
                </a>
            </div>
        </div>
        <div class="box-transparent py-1 px-2 major-letter">
            <img src="{% static 'home/ropz_small.png' %}"/>
            <div class="overlay">
                <a class="button is-danger is-small is-fullwidth" target="_blank" href="{% static 'home/ropz.png' %}">
                    <span>Image</span>
                </a>
                <a class="button is-danger is-small is-fullwidth" target="_blank" href="{% static 'home/ropz.pdf' %}">
                    <span>PDF</span>
                </a>
            </div>
        </div>
        <div class="box-transparent py-1 px-2 major-letter">
            <img src="{% static 'home/acor_small.png' %}"/>
            <div class="overlay">
                <a class="button is-danger is-small is-fullwidth" target="_blank" href="{% static 'home/acor.png' %}">
                    <span>Image</span>
                </a>
                <a class="button is-danger is-small is-fullwidth" target="_blank" href="{% static 'home/acor.pdf' %}">
                    <span>PDF</span>
                </a>
            </div>
        </div>
        <div class="box-transparent py-1 px-2 major-letter">
            <img src="{% static 'home/mithr_small.png' %}"/>
            <div class="overlay">
                <a class="button is-danger is-small is-fullwidth" target="_blank" href="{% static 'home/mithr.png' %}">
                    <span>Image</span>
                </a>
                <a class="button is-danger is-small is-fullwidth" target="_blank" href="{% static 'home/mithr.pdf' %}">
                    <span>PDF</span>
                </a>
            </div>
        </div>
    </div>
    <a class="button is-small is-fullwidth is-danger mb-3 is-hidden" href="{% url 'home:major' %}">All major letters</a>
    <div class="is-hidden">
    <h5 class="subtitle is-7 has-text-weight-bold has-text-white mb-1 ml-1">Competitions</h5>
    {% for c in competitions %}
    <div class="box-transparent mb-3 {% if c.is_active %}is-currently-active{% endif %}" style="display: grid;">
        <div class="has-text-weight-bold">
            <a href="{% url 'top20:detail' slug=c.slug %}">{{ c.name }}</a>
            {% if not c.is_active and not c.is_finished %}
            <span class="tag is-dark ml-2 mouz-tag">Upcoming</span>
            {% elif c.is_finished and c.is_complete %}
            <span class="tag is-danger ml-2 mouz-tag">Finished</span>
            {% elif c.is_finished %}
            <span class="tag is-success ml-2 mouz-tag">Ongoing</span>
            {% else %}
            <span class="tag is-success ml-2 mouz-tag">Live</span>
            {% endif %}
        </div>
        <div style="font-family: monospace; font-size: 12px">{{ c.starting_at|date:"d.m.y" }} - {{ c.ending_at|date:"d.m.y" }}</div>
    </div>
    {% endfor %}
    {% if events %}
    <h5 class="subtitle is-7 has-text-weight-bold has-text-white mb-1 ml-1">Events</h5>
    {% for c in events %}
    <div class="box-transparent mb-3" style="display: grid;">
        <div class="has-text-weight-bold">
            <a href="{% url 'home:event' slug=c.slug %}">{{ c.name }}</a>
            {% if not c.is_active and not c.is_finished %}
            <span class="tag is-dark ml-2 mouz-tag">Upcoming</span>
            {% elif c.is_finished %}
            <span class="tag is-danger ml-2 mouz-tag">Finished</span>
            {% else %}
            <span class="tag is-success ml-2 mouz-tag">Live</span>
            {% endif %}
        </div>
        <div style="font-family: monospace; font-size: 12px">{{ c.starting_at|date:"d.m.y" }} - {{ c.ending_at|date:"d.m.y" }}</div>
    </div>
    {% endfor %}
    {% endif %}
    </div>
</div>
<h5 class="subtitle is-7 has-text-weight-bold has-text-white mb-1 ml-1">Recent mouz-related content - videos, interviews and more</h5>
{% for c in content %}
<div class="box-transparent mb-2" style="display: grid;">
    <div class="has-text-weight-bold">
        <a href="{{ c.url }}" target="_blank">{{ c.name }}</a>
        {% for t in c.tags.all %}
        <a class="tag is-info has-text-weight-bold ml-2 mouz-tag" href="{% url 'content:list' %}?tag={{ t.name }}">{{ t.name }}</a>
        {% endfor %}
    </div>
    <div style="font-family: monospace; font-size: 12px">{{ c.date|date:"d.m.y H:i" }} - submitted by {{ c.user }}</div>
</div>
{% endfor %}
<div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: .5rem">
    <a class="button is-small is-info is-fullwidth" href="{% url 'content:list' %}">More content</a>
    <a class="button is-small is-fullwidth is-danger" href="{% url 'content:add' %}">Add content</a>
</div>
</div>
{% endcache %}
<script>
    let show_more = false;
    function showMore() {
        let button = document.getElementById('show-more-trigger');
        let content = document.getElementById('more-games');
        console.log(button);
        console.log(content);
        if (show_more) {
            content.classList.add("is-hidden");
            button.text = "Show League of Legends & VALORANT";
        } else {
            content.classList.remove("is-hidden");
            button.text = "Hide League of Legends & VALORANT";
        }
        show_more = !show_more;
    }
    function adaptGrid() {
        let mm = 0;
        document.querySelectorAll(".upcoming").forEach(u => {
            let um = u.querySelectorAll('.match').length;
            if (um > mm) {
                mm = um;
            }
        });
        document.querySelectorAll(".match-wrapper").forEach(mw => {
            mw.style.gridTemplateRows = `${mm*51+40}px 1fr`;
        });
    }
document.addEventListener("DOMContentLoaded", function() {
    adaptGrid();
});
window.addEventListener('resize', r => {
    if (window.outerWidth < 718) {
        document.querySelectorAll(".match-wrapper-lol").forEach(mw => {
            mw.style = null;
        });
    } else {
        adaptGrid()
    }
});
</script>
{% endblock %}
