{% load static %}
<div class="box-transparent player" style="display: grid; height:150px; background-image: url('https://mousesports.com/wp-content/uploads/2021/11/heromarine_hero-768x1024.jpg'); background-size:cover;">
  <div class="player-socials mt-2" style="display: grid; justify-content: space-evenly; color: red; grid-auto-flow: column; height: fit-content;">
    <a href="http://twitter.com/mouzHeroMarine" style="color: red" target="_blank" title="Twitter">
      <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitter">
        <ion-icon name="logo-twitter"></ion-icon>
      </span>
    </a>
    <a href="https://www.instagram.com/heromarinesc2/" style="color: red" target="_blank" title="Instagram">
      <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Instagram">
        <ion-icon name="logo-instagram"></ion-icon>
      </span>
    </a>
    <a href="http://www.twitch.tv/HeroMarine" style="color: red" target="_blank" title="Twitch">
      <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitch">
        <ion-icon name="logo-twitch"></ion-icon>
      </span>
    </a>
  </div>
  <div style="justify-self: center; align-self: flex-end; font-size: x-large; font-weight: 700;">
    <div style="line-height:25px">
        HeroMarine
    </div>
    <div style="font-size: 8pt;" class="has-text-centered">StarCraft II</div>
  </div> 
</div>
<div class="box-transparent player" style="display: grid; height:150px; background-image: url('https://mousesports.com/wp-content/uploads/2021/11/problemX_hero-768x1024.jpg'); background-size:cover;">
    <div class="player-socials mt-2" style="display: grid; justify-content: space-evenly; color: red; grid-auto-flow: column; height: fit-content;">
        <a href="https://twitter.com/MrProblemX" style="color: red" target="_blank" title="Twitter">
            <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitter">
                <ion-icon name="logo-twitter"></ion-icon>
            </span>
        </a>
        <a href="https://www.youtube.com/channel/UCWqLXs1qT0mBVid1gkLkveA" style="color: red" target="_blank" title="Youtube">
            <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Youtube">
                <ion-icon name="logo-youtube"></ion-icon>
            </span>
        </a>
        <a href="https://www.twitch.tv/therealproblemx/" style="color: red" target="_blank" title="Twitch">
            <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitch">
                <ion-icon name="logo-twitch"></ion-icon>
            </span>
        </a>
    </div>
  <div style="justify-self: center; align-self: flex-end; font-size: x-large; font-weight: 700;">
    <div style="line-height:25px">
    Problem X
    </div>
    <div style="font-size: 8pt;" class="has-text-centered">Street Fighter</div>
  </div> 
</div>
<div class="box-transparent player" style="display: grid; height:150px; background-image: url('https://mousesports.com/wp-content/uploads/2022/01/Daniel_Spenst_XlorD-768x1024.jpg'); background-size:cover;">
  <div class="player-socials mt-2" style="display: grid; justify-content: space-evenly; color: red; grid-auto-flow: column; height: fit-content;">
    <a href="https://twitter.com/ixiXlorD" style="color: red" target="_blank" title="Twitter">
      <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitter">
        <ion-icon name="logo-twitter"></ion-icon>
      </span>
    </a>
    <a href="https://www.twitch.tv/ixiXlorD" style="color: red" target="_blank" title="Twitch">
        <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitch">
            <ion-icon name="logo-twitch"></ion-icon>
        </span>
    </a>
  </div>
  <div style="justify-self: center; align-self: flex-end; font-size: x-large; font-weight: 700;">
    <div style="line-height:25px">
    XlorD
    </div>
    <div style="font-size: 8pt;" class="has-text-centered">Warcraft III</div>
  </div> 
</div>
