{% load i18n %}
{% load home %}
{% if is_paginated %}
<nav class="pagination is-left is-small" role="navigation" aria-label="pagination" style="background-color: transparent; color: white;">
    <ul class="pagination-list">
        {% if page_obj.has_previous %}
        <li>
            <a href="?{% url_replace page=page_obj.previous_page_number %}" class="pagination-previous">
                <ion-icon name="chevron-back-sharp" class="has-text-white" size="small"></ion-icon>
            </a>
        </li>
        {% endif %}
        <li><a class="pagination-link {% if page_obj.number == 1 %}is-current{% endif %}" aria-label="" href="?{% url_replace page=1 %}">1</a></li>
        {% if page_obj.paginator.num_pages > 10 %}
        {% with max_p=page_obj.number|add:'3' min_p=page_obj.number|add:'-3' %}
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        {% for p in page_obj.paginator.page_range %}
        {% if p >= min_p and p <= max_p %}
        {% if p > 1 and p < page_obj.paginator.num_pages %}
        <li><a class="pagination-link {% if page_obj.number == p %}is-current{% endif %}" href="?{% url_replace page=p %}" aria-label="">{{ p }}</a></li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        {% endwith %}
        {% else %}
        {% for p in page_obj.paginator.page_range %}
        {% if p > 1 and p < page_obj.paginator.num_pages %}
        {% if page_obj.number == p %}
        <li><a class="pagination-link is-current" href="?{% url_replace page=p %}" aria-label="">{{ p }}</a></li>
        {% else %}
        <li><a class="pagination-link" href="?{% url_replace page=p %}" aria-label="">{{ p }}</a></li>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% endif %}
        <li><a class="pagination-link {% if page_obj.number == page_obj.paginator.num_pages %}is-current{% endif %}" aria-label="" href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a></li>
        {% if page_obj.has_next %}
        <li>
            <a href="?{% url_replace page=page_obj.next_page_number %}" class="pagination-next">
                <ion-icon name="chevron-forward-sharp" class="has-text-white" size="small"></ion-icon>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
