{% extends "home/base.html" %}
{% load home %}

{% block breadcrumbs %}
<div class="pl-2 py-1 mb-2" style="width: fit-content; border-radius: 4px; border: 1px solid #363636;width: 100%;">
<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="{% url 'home:home' %}" style="color: orange">Home</a></li>
        <li class="is-active"><a href="#" aria-current="page" class="has-text-white">Discord</a>
        </li>
    </ul>
</nav>
</div>
{% endblock %}

{% load humanize %}
{% load cache %}
{% load static %}
{% block main_content %}
<article class="message is-info mb-3" style="background-color:unset">
  <div class="message-header" style="background-color: #ff0000;">
      <p>How it works</p>
  </div>
  <div class="message-body content" style="background-color: rgb(37 45 57 / 100%); color: white">
      <ul class="mt-0">
          <li>
              Every thirty seconds that you're messaging, you randomly gain between 15 and 25 XP.
          </li>

          <li>
              To avoid spamming, XP can only be earned once every thirty seconds per user.
          </li>
          <li>
              Keep in mind we switched from MEE6 to our own system and took the MEE6 numbers to initialise our system. While our system now tracks every message and counts it, the former system only counted the msges it handed out XP for. That leads to the MSG/XP ratio being a bit weird for users being not so active recently.
          <li>
              You can limit the ranking to a speficic date range either by using one of the presets below or by providing a start and/or a end date, i.e. <a href="https://vamouz.de/ranking/?start_date=01-11-2021&end_date=01-12-2021">https://vamouz.de/ranking/?start_date=01-11-2021&end_date=01-12-2021</a>.
          </li>
      </ul>
  </div>
</article>
    <div style="display: grid;grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));grid-gap: .75rem;" class="mb-3">
        <a href="/ranking" class="box-transparent {% if not request.GET.limit %}{% if not start_date and not end_date %}is-active{% endif %}{% endif %}" style="display:grid; place-content: center; color: white; font-weight: 700">
            All-time
        </a>
        <a href="?limit=last1" class="box-transparent {% if request.GET.limit == 'last1' %}is-active{% endif %}" style="display:grid; place-content: center; color: white; font-weight: 700">
            Last 24 hours 
        </a>
        <a href="?limit=last7" class="box-transparent {% if request.GET.limit == 'last7' %}is-active{% endif %}" style="display:grid; place-content: center; color: white; font-weight: 700">
            Last 7 days 
        </a>
        <a href="?limit=last30" class="box-transparent {% if request.GET.limit == 'last30' %}is-active{% endif %}" style="display:grid; place-content: center; color: white; font-weight: 700">
            Last 30 days 
        </a>
        <a href="?limit=last90" class="box-transparent {% if request.GET.limit == 'last90' %}is-active{% endif %}" style="display:grid; place-content: center; color: white; font-weight: 700">
            Last 90 days 
        </a>
    </div>
    {% if not request.GET.limit %}
    {% if start_date or end_date %}
    <div style="display:grid; grid-template-columns: 1fr 1fr; grid-gap: 0.75rem;" class="mb-3">
        <div class="box-transparent {% if not request.GET.limit %}{% if start_date or end_date %}is-active{% endif %}{% endif %}" style="display: grid; place-content: center; font-weight :700">
            {% if start_date %}
            Start date: {{ start_date|date:"d.m.y" }}
            {% else %}
            No start date
            {% endif %}
        </div>
        <div class="box-transparent {% if not request.GET.limit %}{% if start_date or end_date %}is-active{% endif %}{% endif %}" style="display: grid; place-content: center; font-weight :700">
            {% if end_date %}
            End date: {{ end_date|date:"d.m.y" }}
            {% else %}
            No end date
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% endif %}
    <div class="box-transparent">
    {% cache 600 discord_ranking request.GET.limit request.GET.start_date request.GET.end_date request.GET.full %}
    {% for user in ranking %}
    {% if user.max_xp or user.xp_diff %}
    <div style="display: grid; grid-template-columns: 50px 1fr 180px; height:60px; place-content:center; {% if not forloop.last %}border-bottom: 1px solid rgb(119 136 153 / 20%);{% endif %} align-items: center">
        {% if user.avatar %}
        <object {% if user.avatar %}data="{{ user.avatar }}"{% else %}{% endif %} type="image/png" style="height: 30px; border-radius:50px">
             <img src="{% static 'home/mouz_small.png' %}" style="height: 30px; border-radius:50px" />
        </object>
        {% else %}
             <img src="{% static 'home/mouz_small.png' %}" style="height: 30px; border-radius:50px" />
        {% endif %}
        <div class="is-size-5 has-text-weight-bold is-size-6-mobile text-ellipsis" style="display:grid;">
            <span class="text-ellipsis">{{ user.name }} </span>
            {% if user.level >= 0 %}
            <span class="text-ellipsis" style="font-size: 9pt; color: lightgrey; font-weight: 300">LVL {{ user.level }}{% if user.level_name %} - {{ user.level_name }}{% endif %}</span>
            {% endif %}
        </div>
        <div style="display: grid; grid-template-columns: 2fr 3fr 3fr; place-items: center;">
            <div class="has-text-weight-bold is-size-5 is-size-6-mobile">#{{ forloop.counter }}</div>
            <div style="
            display: grid;
            place-items: center;
            "><div style="
            font-size: small;
            color: lightgrey;
            ">XP</div><div title="{% if start_date or end_date %}{{ user.xp_diff }}{% else %}{{ user.max_xp }}{% endif %}"><strong>{% if start_date or end_date %}{{ user.xp_diff|pretty_number }}{% else %}{{ user.max_xp|pretty_number }}{% endif %}</strong></div></div>
            <div style="
            display: grid;
            place-items: center;
            "><div style="
            font-size: small;
            color: lightgrey;
            ">MSGES
            </div><div title="{% if start_date or end_date %}{{ user.msg_diff }}{% else %}{{ user.msges }}{% endif %}"><strong>{% if start_date or end_date %}{{ user.msg_diff|pretty_number }}{% else %}{{ user.msges|pretty_number }}{% endif %}</strong></div></div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endcache %}
    </div>
    {% if not request.GET.limit and not start_date and not end_date and not request.GET.full == 'true' %}
        <a href="?full=true" class="box-transparent mb-3 mt-3 is-size-6 has-text-weight-bold" style="display: grid; place-content: center">
		Show complete ranking
	    </a>
    {% endif %}
{% endblock %}
