<meta property="og:url" content="{{ object.url }}" />
<meta name="theme-color" content="#a52542">
<meta property="og:type" content="website">
<meta property="og:domain" content="{{ object.slug }}">
<meta property="og:title" content="{{ object.description }}">
<meta property="og:image" content="https://vamouz.de{{ object.img.url }}">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="{{ object.slug }}">
<meta property="twitter:url" content="{{ object.url }}">
<meta name="twitter:title" content="{{ object.description }}">
<meta name="twitter:image" content="https://vamouz.de{{ object.img.url }}">
  <script>
    window.location = "{{ object.url }}";
  </script>
