{% extends "home/base.html" %}
{% load humanize %}
{% load cache %}
{% load static %}
{% block breadcrumbs %}
<div class="pl-2 py-1 mb-2" style="width: fit-content; border-radius: 4px; border: 1px solid #363636;width: 100%;">
<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="{% url 'home:home' %}" style="color: orange">Home</a></li>
        <li class="is-active"><a href="#" aria-current="page" class="has-text-white">Results</a>
        </li>
    </ul>
</nav>
</div>
{% endblock %}
{% block main_content %}
<div style="display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: .5rem;" class="mb-3">
    <a href="?game=csgo" class="box-transparent px-2 py-1 {% if request.GET.game == 'csgo' or request.GET.game == 'cs_main' or request.GET.game == 'cs_nxt' %}is-active{% endif %}" style="display: grid; grid-template-columns: 16px 1fr; place-content: center; grid-gap: 0.3rem">
        <img style="align-self: center; vertical-align: middle" src="{% static 'home/mouz_csgo.png' %}"/>
        <span style="align-self: center; font-weight: 700">CS2</span>
    </a>
    <a href="?game=valo" class="box-transparent px-2 py-1 {% if request.GET.game == 'valo' %}is-active{% endif %}" style="display: grid; grid-template-columns: 16px 1fr; place-content: center; grid-gap: 0.3rem">
        <img style="align-self: center; vertical-align: middle" src="{% static 'home/mouz_valo.png' %}"/>
        <span style="align-self: center; font-weight: 700">VALORANT</span>
    </a>
    <a href="?game=dota" class="box-transparent px-2 py-1 {% if request.GET.game == 'dota' %}is-active{% endif %}" style="display: grid; grid-template-columns: 16px 1fr; place-content: center; grid-gap: 0.3rem">
        <img style="align-self: center; vertical-align: middle" src="{% static 'home/mouz_dota.png' %}"/>
        <span style="align-self: center; font-weight: 700">Dota</span>
    </a>
</div>
{% if request.GET.game == 'csgo' or request.GET.game == 'cs_main' or request.GET.game == 'cs_nxt' %}
<div style="display: grid; grid-template-columns: repeat(2, 1fr); grid-gap: .5rem;" class="mb-3">
    <a href="?game=cs_main" class="box-transparent px-2 py-1 {% if request.GET.game == 'cs_main' %}is-active{% endif %}" style="display: grid; grid-template-columns: 16px 1fr; place-content: center; grid-gap: 0.3rem">
        <img style="align-self: center; vertical-align: middle" src="{% static 'home/mouz_csgo.png' %}"/>
        <span style="align-self: center; font-weight: 700">Main</span>
    </a>
    <a href="?game=cs_nxt" class="box-transparent px-2 py-1 {% if request.GET.game == 'cs_nxt' %}is-active{% endif %}" style="display: grid; grid-template-columns: 16px 1fr; place-content: center; grid-gap: 0.3rem">
        <img style="align-self: center; vertical-align: middle" src="{% static 'home/mouz_csgonxt.png' %}"/>
        <span style="align-self: center; font-weight: 700">NXT</span>
    </a>
</div>
{% endif %}
<div class="content-box mt-0">
    <div id="matches-normal">
        <div style="display: grid;grid-template-columns: repeat(auto-fill, minmax(min(450px, 95vw), 1fr));grid-gap: .5rem;" class="mb-3">
            {% for m in object_list %}
            {% include 'home/match.html' %}
            {% empty %}
            <div class="mb-1 no-matches" style="grid-column: 1/3">
                <span class="is-size-6 has-text-weight-bold">No upcoming matches</span>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% include "home/pagination.html" %}
{% endblock %}
