{% extends "home/base.html" %}
{% load humanize %}
{% load cache %}
{% load static %}
{% block breadcrumbs %}
<div class="pl-2 py-1 mb-2" style="width: fit-content; border-radius: 4px; border: 1px solid #363636;width: 100%;">
<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="{% url 'home:home' %}" style="color: orange">Home</a></li>
        <li class="is-active"><a href="#" aria-current="page" class="has-text-white has-text-weight-bold">PAIN</a>
        </li>
    </ul>
</nav>
</div>
{% endblock %}
{% block main_content %}
<div class="box-transparent py-1 px-2" style="display: grid; place-content: center">
    <video loop controls autoplay>
        <source src="{% static 'home/sad-spongebob-mouz.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
{% endblock %}
