{% load static %}
<div class="box-transparent player" style="display: grid; height:150px; background-image: url('https://mousesports.com/wp-content/uploads/2023/01/Team_Sim_Racing_Max_Benecke-226x300.jpg'); background-size:cover;">
  <div class="player-socials mt-2" style="display: grid; justify-content: space-evenly; color: red; grid-auto-flow: column; height: fit-content;">
    <a href="https://twitter.com/maxbenecke11" style="color: red" target="_blank" title="Twitter">
      <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitter">
        <ion-icon name="logo-twitter"></ion-icon>
      </span>
    </a>
    <a href="https://www.instagram.com/maxbenecke11/" style="color: red" target="_blank" title="Instagram">
      <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Instagram">
        <ion-icon name="logo-instagram"></ion-icon>
      </span>
    </a>
    <a href="https://www.twitch.tv/maxbenecke" style="color: red" target="_blank" title="Twitch">
      <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitch">
        <ion-icon name="logo-twitch"></ion-icon>
      </span>
    </a>
  </div>
  <div style="justify-self: center; align-self: flex-end; font-size: 1.4rem; font-weight: 700;">
    <div style="line-height:25px">
      Maximilian Benecke
    </div>
  </div> 
</div>
<div class="box-transparent player" style="display: grid; height:150px; background-image: url('https://mousesports.com/wp-content/uploads/2023/01/Team_Sim_Racing_Patrik_Holzmann-226x300.jpg'); background-size:cover;">
    <div class="player-socials mt-2" style="display: grid; justify-content: space-evenly; color: red; grid-auto-flow: column; height: fit-content;">
        <a href="https://twitter.com/PatrikHolzmann" style="color: red" target="_blank" title="Twitter">
            <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitter">
                <ion-icon name="logo-twitter"></ion-icon>
            </span>
        </a>
        <a href="https://www.twitch.tv/patrik_holzmann" style="color: red" target="_blank" title="Twitch">
            <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitch">
                <ion-icon name="logo-twitch"></ion-icon>
            </span>
        </a>
    </div>
  <div style="justify-self: center; align-self: flex-end; font-size: x-large; font-weight: 700;">
    <div style="line-height:25px">
      Patrick Holzmann
    </div>
  </div> 
</div>
<div class="box-transparent player" style="display: grid; height:150px; background-image: url('https://mousesports.com/wp-content/uploads/2023/01/Team_Sim_Racing_Yuri_Kasdorp-768x1020.jpg'); background-size:cover;">
  <div class="player-socials mt-2" style="display: grid; justify-content: space-evenly; color: red; grid-auto-flow: column; height: fit-content;">
    <a href="https://twitter.com/YuriKasdorp" style="color: red" target="_blank" title="Twitter">
      <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitter">
        <ion-icon name="logo-twitter"></ion-icon>
      </span>
    </a>
    <a href="https://www.instagram.com/ykasdorp/" style="color: red" target="_blank" title="Instagram">
      <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Instagram">
        <ion-icon name="logo-instagram"></ion-icon>
      </span>
    </a>
    <a href="https://www.twitch.tv/yurikasdorp" style="color: red" target="_blank" title="Twitch">
        <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitch">
            <ion-icon name="logo-twitch"></ion-icon>
        </span>
    </a>
  </div>
  <div style="justify-self: center; align-self: flex-end; font-size: x-large; font-weight: 700;">
    <div style="line-height:25px">
      Yuri Kasdorp
    </div>
  </div> 
</div>
<div class="box-transparent player" style="display: grid; height:150px; background-image: url('https://mousesports.com/wp-content/uploads/2023/01/Team_Sim_Racing_Moritz_Loehner-226x300.jpg'); background-size:cover;">
  <div class="player-socials mt-2" style="display: grid; justify-content: space-evenly; color: red; grid-auto-flow: column; height: fit-content;">
    <a href="https://twitter.com/MoritzLoehner" style="color: red" target="_blank" title="Twitter">
      <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitter">
        <ion-icon name="logo-twitter"></ion-icon>
      </span>
    </a>
    <a href="https://www.instagram.com/moritzloehner/" style="color: red" target="_blank" title="Instagram">
      <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Instagram">
        <ion-icon name="logo-instagram"></ion-icon>
      </span>
    </a>
  </div>
  <div style="justify-self: center; align-self: flex-end; font-size: x-large; font-weight: 700;">
    <div style="line-height:25px">
      Moritz Löhner
    </div>
  </div> 
</div>
