{% extends "home/base.html" %}
{% load static %}

{% block social_description %}
<meta property="og:description" content="{{ object.name }}">
<meta name="twitter:description" content="{{ object.name }}">
{% endblock %}
{% block breadcrumbs %}
<div class="pl-2 py-1 mb-2" style="width: fit-content; border-radius: 4px; border: 1px solid #363636;width: 100%;">
<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="{% url 'home:home' %}" style="color: orange">Home</a></li>
        <li class="is-active"><a href="#" aria-current="page" class="has-text-white">{{ object.name }}</a>
        </li>
    </ul>
</nav>
</div>
{% endblock %}
{% block main_content %}
<div class="box-transparent content mb-3">
    {{ object.content_rendered|safe }}
</div>
{% endblock %}
