{% extends "home/base.html" %}
{% load humanize %}
{% load cache %}
{% load static %}
{% load home %}
{% load tz %}
{% block breadcrumbs %}
<div class="pl-2 py-1 mb-2" style="width: fit-content; border-radius: 4px; border: 1px solid #363636;width: 100%;">
<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="{% url 'home:home' %}" style="color: orange">Home</a></li>
        <li class="is-active"><a href="#" aria-current="page" class="has-text-white">Scheduled discord notifications</a>
        </li>
    </ul>
</nav>
</div>
{% endblock %}
{% block main_content %}
{% for m, scheduled in tasks.items %}
<div class="box-transparent py-1 px-2 mb-3">
    <div class="has-text-weight-bold is-size-6">{{ m }} - {{ m.get_game_display }} - {{ m.date|date:"d.m.y H:i" }}</div>
    {% for t in scheduled %}
    <div>- {{ t.eta|as_berlin|date:"d.m.y H:i" }}</div>
    {% endfor %}
</div>
{% endfor %}
{% endblock %}
