{% extends "home/base.html" %}
{% load humanize %}
{% load cache %}
{% load static %}
{% load home %}
{% load tz %}
{% block breadcrumbs %}
<div class="pl-2 py-1 mb-2" style="width: fit-content; border-radius: 4px; border: 1px solid #363636;width: 100%;">
<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="{% url 'home:home' %}" style="color: orange">Home</a></li>
        <li class="is-active"><a href="#" aria-current="page" class="has-text-white">
        {% if team == 'cs2' %}
            CS2 Main
        {% elif team == 'cs2-nxt' %}
            CS2 NXT 
        {% elif team == 'valorant' %}
            VALORANT    
        {% elif team == 'lol' %}
            League of Legends
        {% elif team == 'solo' %}
            SC2, SF & WC3
        {% elif team == 'dota' %}
            Dota
        {% elif team == 'sim' %}
            Sim Racing
        {% endif %}
        </a>
        </li>
    </ul>
</nav>
</div>
{% endblock %}
{% block main_content %}
<div style="display: grid;grid-template-columns: repeat(auto-fit, minmax(min(130px, 95vw), 1fr));grid-gap: .75rem;" class="mb-3">
{% if team == 'cs2' %}
    {% include 'home/csgo.html' %}
{% endif %}
{% if team == 'cs2-nxt' %}
    {% include 'home/csgo_nxt.html' %}
{% endif %}
{% if team == 'lol' %}
    {% include 'home/lol.html' %}
{% endif %}
{% if team == 'valorant' %}
    {% include 'home/valorant.html' %}
{% endif %}
{% if team == 'dota' %}
    {% include 'home/dota.html' %}
{% endif %}
{% if team == 'solo' %}
    {% include 'home/others.html' %}
{% endif %}
{% if team == 'sim' %}
    {% include 'home/sim.html' %}
{% endif %}
</div>
<div id="matches-normal">
    <h5 class="subtitle is-7 has-text-weight-bold has-text-white mb-1">Upcoming matches</h5>
    <div style="display: grid;grid-template-columns: repeat(auto-fill, minmax(min(450px, 95vw), 1fr));grid-gap: .75rem;" class="mb-3">
        {% for m in up %}
        {% include 'home/match.html' %}
        {% empty %}
        <div class="mb-1 no-matches box-transparent has-text-weight-bold" style="grid-column: 1/3">
            No upcoming matches :(
        </div>
        {% endfor %}
    </div>
    {% if object_list %}
    <h5 class="subtitle is-7 has-text-weight-bold has-text-white mb-1">Recent results</h5>
    <div style="display: grid;grid-template-columns: repeat(auto-fill, minmax(min(450px, 95vw), 1fr));grid-gap: .75rem;" class="mb-3">
        {% for m in object_list %}
        {% include 'home/match.html' %}
        {% empty %}
        <div class="mb-1 no-matches">
            No finished matches
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% include "home/pagination.html" %}
{% endblock %}
