{% load static %}
<div class="box-transparent player" style="display: grid; height:150px; background-image: url('https://mousesports.com/wp-content/uploads/2023/01/20240724_MOUZMedia_MikaMohnsen_02228-900x600.jpg'); background-size:cover;">
    <div class="player-socials mt-2" style="display: grid; justify-content: space-evenly; color: red; grid-auto-flow: column; height: fit-content;">
        <a href="https://twitter.com/obnoks" style="color: red" target="_blank" title="Twitter">
            <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitter">
                <ion-icon name="logo-twitter"></ion-icon>
            </span>
        </a>
        <a href="https://www.instagram.com/obnoks/" style="color: red" target="_blank" title="Instagram">
          <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Instagram">
            <ion-icon name="logo-instagram"></ion-icon>
          </span>
        </a>
        <a href="https://www.twitch.tv/obnoks" style="color: red" target="_blank" title="Twitch">
            <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitch">
                <ion-icon name="logo-twitch"></ion-icon>
            </span>
        </a>
    </div>
    <div style="justify-self: center; align-self: flex-end; font-size: x-large; font-weight: 700;">
      Obnoks
    </div> 
</div>
<div class="box-transparent player" style="display: grid; height:150px; background-image: url('https://mousesports.com/wp-content/uploads/2025/01/Website_VALO_Fizzy-900x1200.jpg'); background-size:cover;">
	<div class="player-socials mt-2" style="display: grid; justify-content: space-evenly; color: red; grid-auto-flow: column; height: fit-content;">
		<a href="https://twitter.com/FizzyxDDD" style="color: red" target="_blank" title="Twitter">
			<span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitter">
				<ion-icon name="logo-twitter"></ion-icon>
			</span>
		</a>
		<a href="https://www.twitch.tv/muriig0d" style="color: red" target="_blank" title="Twitch">
			<span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitch">
				<ion-icon name="logo-twitch"></ion-icon>
			</span>
		</a>
	</div>
	<div style="justify-self: center; align-self: flex-end; font-size: x-large; font-weight: 700;">
		Fizzy
	</div> 
</div> 
<div class="box-transparent player" style="display: grid; height:150px; background-image: url('https://mousesports.com/wp-content/uploads/2025/01/Website_VALO_iluri-900x1200.jpg'); background-size:cover;">
  <div class="player-socials mt-2" style="display: grid; justify-content: space-evenly; color: red; grid-auto-flow: column; height: fit-content;">
    <a href="https://twitter.com/iluriVAL" style="color: red" target="_blank" title="Twitter">
      <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitter">
        <ion-icon name="logo-twitter"></ion-icon>
      </span>
    </a>
    <a href="https://www.instagram.com/ilurppis/" style="color: red" target="_blank" title="Instagram">
      <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Instagram">
        <ion-icon name="logo-instagram"></ion-icon>
      </span>
    </a>
  </div>
  <div style="justify-self: center; align-self: flex-end; font-size: x-large; font-weight: 700;">
    iluri
  </div> 
</div>
<div class="box-transparent player is-relative" style="display: grid; height:150px;">
	<img src="{% static 'home/mouz_small.png' %}" style="opacity: 0.5; max-height: 150px;margin: 0 auto;" />
	<div style="position:absolute; width: 100%; height: 100%; display: grid; padding: 0.3rem 0.5rem;">
		<div class="player-socials mt-2" style="display: grid; justify-content: space-evenly; color: red; grid-auto-flow: column; height: fit-content;">
			<a href="https://twitter.com/bipoval" style="color: red" target="_blank" title="Twitter">
				<span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitter">
					<ion-icon name="logo-twitter"></ion-icon>
				</span>
			</a>
			<a href="https://www.twitch.tv/bipoval" style="color: red" target="_blank" title="Twitch">
				<span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitch">
					<ion-icon name="logo-twitch"></ion-icon>
				</span>
			</a>
		</div>
		<div style="justify-self: center; align-self: flex-end; font-size: x-large; font-weight: 700;">
			bipo
		</div> 
	</div>
</div>
<div class="box-transparent player is-relative" style="display: grid; height:150px;">
	<img src="{% static 'home/mouz_small.png' %}" style="opacity: 0.5; max-height: 150px;margin: 0 auto;" />
	<div style="position:absolute; width: 100%; height: 100%; display: grid; padding: 0.3rem 0.5rem;">
		<div class="player-socials mt-2" style="display: grid; justify-content: space-evenly; color: red; grid-auto-flow: column; height: fit-content;">
			<a href="https://twitter.com/Lime_uk" style="color: red" target="_blank" title="Twitter">
				<span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitter">
					<ion-icon name="logo-twitter"></ion-icon>
				</span>
			</a>
			<a href="https://www.twitch.tv/lime_uk" style="color: red" target="_blank" title="Twitch">
				<span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitch">
					<ion-icon name="logo-twitch"></ion-icon>
				</span>
			</a>
		</div>
		<div style="justify-self: center; align-self: flex-end; font-size: x-large; font-weight: 700;">
			Lime
		</div> 
	</div>
</div>
<div class="box-transparent player" style="display: grid; height:150px; background-image: url('https://mousesports.com/wp-content/uploads/2025/01/Website_VALO_KundiKundi-900x1200.jpg'); background-size:cover;">
  <div class="player-socials mt-2" style="display: grid; justify-content: space-evenly; color: red; grid-auto-flow: column; height: fit-content;">
    <a href="https://twitter.com/kundikundiVAL" style="color: red" target="_blank" title="Twitter">
      <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitter">
        <ion-icon name="logo-twitter"></ion-icon>
      </span>
    </a>
    <a href="https://www.twitch.tv/KUNDIKUNDI" style="color: red" target="_blank" title="Twitch">
      <span class="icon box-transparent is-active social-link" style="width: 2rem; height: 2rem;" title="Twitch">
        <ion-icon name="logo-twitch"></ion-icon>
      </span>
    </a>
  </div>
  <div style="justify-self: center; align-self: flex-end; font-size: larger; font-weight: 700;">
    KUNDIKUNDI
  </div> 
</div>
