{% extends "home/base.html" %}
{% load home %}
{% load humanize %}

{% block breadcrumbs %}
<div class="pl-2 py-1 mb-2" style="width: fit-content; border-radius: 4px; border: 1px solid #363636;width: 100%;">
<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="{% url 'home:home' %}" style="color: orange">Home</a></li>
        <li class="is-active"><a href="#" aria-current="page" class="has-text-white">Your warnings</a>
        </li>
    </ul>
</nav>
</div>
{% endblock %}

{% block main_content %}
    <div id="matches-normal">
        <div style="display: grid;grid-template-columns: 1fr;grid-gap: .5rem;" class="mb-3">
            {% for w in warnings %}
            <div class="box-transparent">
                <div class="is-size-6 has-text-weight-bold">{{ w.message }}</div>
                <div title="{{ w.date }}">{{ w.date|naturaltime }}</div>
            </div>
            {% empty %}
            <div class="box-transparent">
                <div class="is-size-6 has-text-weight-bold">You have no warnings :)</div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
