{% extends "home/base.html" %}
{% load humanize %}
{% block breadcrumbs %}
<div class="pl-2 py-1 mb-2" style="width: fit-content; border-radius: 4px; border: 1px solid #363636;width: 100%;">
<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="{% url 'home:home' %}" style="color: orange">Home</a></li>
        <li class="is-active"><a href="#" aria-current="page" class="has-text-white">Content</a>
        </li>
    </ul>
</nav>
</div>
{% endblock %}

{% block main_content %}
<div class="my-2 box-transparent">
    <a class="tag is-info has-text-weight-bold ml-2 has-text-black mouz-tag" {% if not request.GET.tag %}style="background-color: red"{% endif %} href="{% url 'content:list' %}">All</a>
    {% for t in tags %}
    <a class="tag is-info has-text-weight-bold ml-2 mb-2 has-text-black mouz-tag" {% if request.GET.tag == t.name %}style="background-color: red"{% endif %} href="{% url 'content:list' %}?tag={{ t.name }}">{{ t.name }}</a>
    {% endfor %}
</div>
<a class="box-transparent is-size-6 has-text-weight-bold mt-3" style="display: grid; place-content: center;" href="{% url 'content:add' %}">Add content</a>
<div class="content-box">
    {% for c in object_list %}
        <div class="box-transparent mb-3" style="display: grid; grid-gap: .1rem">
            <div class="has-text-weight-bold">
                <a href="{{ c.url }}" class="mr-1" target="_blank">{{ c.name }}</a>
            </div>
            <div style="font-size: 12px">
                <span title="{{ c.date }}">{{ c.date|naturaltime }}</span>
                {% for t in c.tags.all %}
                <a class="tag is-info has-text-weight-bold mouz-tag has-text-black ml-1" style="background-color: red" href="{% url 'content:list' %}?tag={{ t.name }}">{{ t.name }}</a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% include "home/pagination.html" %}
{% endblock %}
