{% extends "home/base.html" %}
{% block extra_head %}
{% endblock %}
{% load bulma_tags %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
<div class="pl-2 py-1 mb-2" style="width: fit-content; border-radius: 4px; border: 1px solid #363636;width: 100%;">
<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="{% url 'home:home' %}" style="color: orange">Home</a></li>
        <li class="is-active"><a href="#" aria-current="page" class="has-text-white">Add content</a>
        </li>
    </ul>
</nav>
</div>
{% endblock %}
{% block main_content %}
{% if perms.content.add_content %}
<article class="message is-info mb-3" style="background-color:unset">
  <div class="message-header" style="background-color: #ff0000;">
      <p>Information!</p>
  </div>
  <div class="message-body content" style="background-color: rgb(37 45 57 / 100%); color: white">
      <ul class="mt-0">
          <li style="list-style: disc outside none">
              Please check if the content you want to submit is already listed.
          </li>
          <li style="list-style: disc outside none">
              Use some tags like 'Article', 'Interview', 'Video', 'mouz NXT' or individual player names like 'ropz' or 'JDC' to categorize the content.
          </li>
          <li style="list-style: disc outside none">
              If the content is available on multiple platforms please link the one with the higher quality, e.g. Youtube > Twitch VOD or Twitter Video.
          </li>
          <li style="list-style: disc outside none">
            <strong>If you abuse this in any way, you'll lose your permissions to share content here immediately & permanently!</strong>
          </li>
      </ul>
  </div>
</article>
<form method="POST" class="has-text-white" autocomplete="off">
    <div class="box-transparent">
        {% csrf_token %}
    {{ form|bulma }} 
    </div>
    <button type="submit" name="_submit" class="button is-success mt-2 is-fullwidth">Submit</button>
</form>
{% else %}
<article class="message is-info mb-3" style="background-color:unset">
  <div class="message-header" style="background-color: #ff0000;">
      <p>Insufficient permissions</p>
  </div>
  <div class="message-body content" style="background-color: rgb(37 45 57 / 100%); color: white">
      Hey, you're logged in with a discord account which is not yet allowed to post content here. Just contact me (y0fl0w#1337) on discord to fix that :).
  </div>
</article>
{% endif %}
{% endblock %}
