{% extends "account/base.html" %}

{% load i18n %}
{% load bulma_tags %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block breadcrumbs %}
<div class="pl-2 py-1 mb-2" style="width: fit-content; border-radius: 4px; border: 1px solid #363636;width: 100%;">
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'home:home' %}" style="color: orange">Home</a></li>
            <li class="is-active"><a href="#" aria-current="page" class="has-text-white">Login</a></li>
        </ul>
    </nav>
</div>
{% endblock %}

{% block content %}

{% get_providers as socialaccount_providers %}
{% for provider in socialaccount_providers %}
{% if provider.id == 'discord' %}

<form action="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params next=request.get_full_path %}" method="post">
    {% csrf_token %}
    <button type="submit" class="button is-info is-outlined is-fullwidth socialaccount_provider {{ provider.id }}"
                          title="{{ provider.name }}"
                          >
                          <span class="icon">
                              <ion-icon name="logo-discord"></ion-icon>
                          </span>
                          <span class="ml-1">Login with Discord</span>
    </button>
</form>
{% endif %}
{% endfor %}
{% endblock %}
